conceptualcomponent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- DDI 3.0 Candidate Release June 22, 2007 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ddi:conceptualcomponent:3_0_CR" xmlns:r="ddi:reusable:3_0_CR" targetNamespace="ddi:conceptualcomponent:3_0_CR" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import namespace="ddi:reusable:3_0_CR" schemaLocation="reusable.xsd"/>
   <xs:element name="ConceptualComponent" type="ConceptualComponentType">
      <xs:annotation>
         <xs:documentation>Concept and Universe schemes used by the data being documented, or references to those schemes.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ConceptualComponentType">
      <xs:annotation>
         <xs:documentation>Concept and Universe schemes used by the data being documented, or references to those schemes.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="r:MaintainableID">
            <xs:annotation>
               <xs:documentation>Identifies the conceptual components module.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Coverage" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Provides information about the topical, spatial, and temporal coverage of the conceptual components included in this module.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:OtherMaterial" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Provides information about external resources related to the conceptual components described in this module.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Note" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Footnote, or annotation, associated with the conceptual components des cribed in this module.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice maxOccurs="unbounded">
            <xs:element ref="ConceptScheme">
               <xs:annotation>
                  <xs:documentation>Includes a comprehensive list of the concepts describing the data that are being documented.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="ConceptSchemeReference">
               <xs:annotation>
                  <xs:documentation>References a concept scheme external to this module, for inclusion in the module.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
	<xs:choice maxOccurs="unbounded">
            <xs:element ref="UniverseScheme">
               <xs:annotation>
                  <xs:documentation>Includes a comprehensive list of the Universes and sub-universes for the data that are being documented.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="UniverseSchemeReference">
               <xs:annotation>
                  <xs:documentation>References a universe scheme external to this module, for inclusion in the module.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>         
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConceptSchemeType">
      <xs:annotation>
         <xs:documentation>Includes a comprehensive list of the concepts describing the data that are being documented.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="r:MaintainableID">
            <xs:annotation>
               <xs:documentation>Identifies the concept scheme.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A short description of the concept scheme.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Description" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A description of the use of the concept scheme.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="ConceptSchemeReference" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Provides for inclusion by reference of other concept schemes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Vocabulary" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Provides information about the vocabulary used to create the concept scheme.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element ref="Concept">
            <xs:annotation>
               <xs:documentation>Container for an individual concept included in the concept scheme.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="DataElementConcept">
            <xs:annotation>
               <xs:documentation>Container for an individual data element concept (per ISO/IEC 11179) included in the concept scheme.</xs:documentation>
            </xs:annotation>
         </xs:element>  
         </xs:choice>
         <xs:element ref="ConceptGroup" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Allows for grouping of concepts; groups may have a hierarchical structure.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
      <xs:complexType name="UniverseSchemeType">
         <xs:annotation>
            <xs:documentation>Includes a comprehensive list of the universes and sub-universes for the data that are being documented.</xs:documentation>
         </xs:annotation>
         <xs:sequence>
            <xs:element ref="r:MaintainableID">
               <xs:annotation>
                  <xs:documentation>Identifies the universe scheme.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>A short description of the universe scheme.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="r:Description" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>A description of the use of the universe scheme.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element ref="UniverseSchemeReference" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>Provides for inclusion by reference of other universe schemes.</xs:documentation>
               </xs:annotation>
         </xs:element>
            <xs:element ref="Universe" minOccurs="0" maxOccurs="unbounded">
               <xs:annotation>
                  <xs:documentation>Provides for inclusion of a top-level universe, containing any sub-universes.</xs:documentation>
               </xs:annotation>
         </xs:element>         
         </xs:sequence>
     	</xs:complexType>
   <xs:complexType name="ConceptGroupType">
      <xs:annotation>
         <xs:documentation>Allows for grouping of concepts; groups may have a hierarchical structure.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="r:MaintainableID">
            <xs:annotation>
               <xs:documentation>Identifies the concept group.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A short description of the concept group.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Description" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A description of the use of the concept group.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="ConceptReference" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Reference to a concept included in the concept group. A concept can be referenced internally, from the concept scheme included in the same conceptual components module, or externally, from another scheme. This element is recursive to allow for the description of hierarchical relationships within the concept group.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="ordered" type="xs:boolean" use="optional" default="false">
         <xs:annotation>
            <xs:documentation>Indicates whether the concept scheme is ordered or unordered.  A value of "true" indicates ordered.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="structured" type="xs:boolean" use="optional" default="false">
         <xs:annotation>
            <xs:documentation>Indicates the structure of the relationships in the concept scheme.  A value of "true" indicates a hieracrchical structure, while a value of "false" indicates an unstructured scheme.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="ConceptReferenceType">
      <xs:annotation>
         <xs:documentation>References concepts to be included in concept groups.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:ReferenceType">
            <xs:sequence>
               <xs:element ref="ConceptReference" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A reference to a concept included in a concept group.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="VocabularyType">
      <xs:annotation>
         <xs:documentation>Provides information about the vocabulary used to create a concept scheme.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="Title" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Full title of vocabulary.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Abbreviation" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Abbreviation of vocabulary title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Keyword" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Keywords that describe the vocabulary.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Description" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Textual description of the vocabulary.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="URI" type="xs:anyURI" minOccurs="0">
            <xs:annotation>
               <xs:documentation>URI to external resource providing information about the vocabulary (general description, main web page).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="XML-URI" type="xs:anyURI" minOccurs="0">
            <xs:annotation>
               <xs:documentation>URI to the vocabulary represented as an XML document.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Scheme" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Textual description of the XML scheme in which the classification is written.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SchemeURI" type="xs:anyURI" minOccurs="0">
            <xs:annotation>
               <xs:documentation>URI to the XML scheme used in the vocabulary (DTD or XML Schema for the XML document above; schemes like DDI, Claset, Neuchatel, and DocBook). Typically, this will be an XML namespace.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Comments" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Human-readable comments on the usage of the vocabulary.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Concept" type="ConceptType">
      <xs:annotation>
         <xs:documentation>Container for an individual concept included in the concept scheme.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ConceptType">
      <xs:annotation>
         <xs:documentation>Container for an individual concept included in the concept scheme.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="r:VersionableID">
            <xs:annotation>
               <xs:documentation>Identifies the concept.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A short description of the concept.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Description" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Includes the definition of the concept itself. This element can be repeated to provide translations of the same concept in various languages.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="SimilarConcept" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Reference to another concept that is similar to the one included in the Description element above.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="isCharacteristic" type="xs:boolean" default="false">
            <xs:annotation>
               <xs:documentation>A true value indicates that the concept is a characteristic, as defined in ISO/IEC 11179.</xs:documentation>
            </xs:annotation>      
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="DataElementConceptType">
      <xs:annotation>
         <xs:documentation>Container for a data element concept (per ISO/IEC 11179) included in the concept scheme.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="r:VersionableID">
            <xs:annotation>
               <xs:documentation>Identifies the concept.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>A short description of the concept.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Description" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Includes the definition of the concept itself. This element can be repeated to provide translations of the same concept in various languages.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="SimilarConcept" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Reference to another concept that is similar to the one included in the Description element above.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="CharacteristicReference">
            <xs:annotation>
               <xs:documentation>Reference to a Concept, with its isCharacertistic attribute set to true, that is used by this data element concept.</xs:documentation>
            </xs:annotation>
         </xs:element>    
         <xs:element ref="UniverseReference" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Reference to a universe.</xs:documentation>
            </xs:annotation>
         </xs:element>          
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CharacteristicReference" type="ConceptReferenceType">
      <xs:annotation>
         <xs:documentation>References a concept which has its isCharacteristic attribute set to true.</xs:documentation>
      </xs:annotation>
   </xs:element>  
   <xs:element name="DataElementConcept" type="DataElementConceptType">
      <xs:annotation>
         <xs:documentation>Container for a data element concept (per ISO/IEC 11179) included in the concept scheme.</xs:documentation>
      </xs:annotation>
   </xs:element>   
   <xs:element name="UniverseReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>Reference to the universe which is associated with the data element concept.</xs:documentation>
      </xs:annotation>
   </xs:element>   
   <xs:complexType name="SimilarConceptType">
      <xs:annotation>
         <xs:documentation>Reference to another concept that is similar to the one included in the Description element above.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="ConceptReference">
            <xs:annotation>
               <xs:documentation>Reference to another concept that is similar to the one included in the related Description element.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Difference" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Describes the difference between the concept referenced in ConceptReference and the concept inclided in the concept's Description element.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Title" type="r:InternationalStringType">
      <xs:annotation>
         <xs:documentation>Full title of vocabulary.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Abbreviation" type="r:InternationalStringType">
      <xs:annotation>
         <xs:documentation>Abbreviation of vocabulary title.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Keyword" type="r:InternationalStringType">
      <xs:annotation>
         <xs:documentation>Keywords that describe the vocabulary.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="ConceptScheme" type="ConceptSchemeType">
      <xs:annotation>
         <xs:documentation>Includes a comprehensive list of the concepts describing the data that are being documented.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="ConceptSchemeReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>References a concept scheme external to this module, for inclusion in the module.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="UniverseScheme" type="UniverseSchemeType">
      <xs:annotation>
         <xs:documentation>Includes a comprehensive list of the universes and sub-universes for the data that are being documented.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="UniverseSchemeReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>References a universe scheme external to this module, for inclusion in the module.</xs:documentation>
      </xs:annotation>
   </xs:element>   
   <xs:element name="Universe" type="r:UniverseType">
      <xs:annotation>
         <xs:documentation>Describes a universe for inclusion in the module.</xs:documentation>
      </xs:annotation>
   </xs:element>   
   <xs:element name="Vocabulary" type="VocabularyType">
      <xs:annotation>
         <xs:documentation>Provides information about the vocabulary used to create the concept scheme.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="ConceptGroup" type="ConceptGroupType">
      <xs:annotation>
         <xs:documentation>Allows for grouping of concepts; groups may have a hierarchical structure.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="ConceptReference" type="ConceptReferenceType">
      <xs:annotation>
         <xs:documentation>Reference to a concept included in the concept group. A concept can be referenced internally, from the concept scheme included in the same conceptual components module, or externally, from another scheme. This element is recursive to allow for the description of hierarchical relationships within the concept group.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Comments" type="r:StructuredStringType">
      <xs:annotation>
         <xs:documentation>Human-readable comments on the usage of the vocabulary.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="SimilarConcept" type="SimilarConceptType">
      <xs:annotation>
         <xs:documentation>Reference to another concept that is similar to the one included in the Description element above.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Difference" type="r:StructuredStringType">
      <xs:annotation>
         <xs:documentation>Describes the difference between the concept referenced in ConceptReference and the concept inclided in the concept's Description element.</xs:documentation>
      </xs:annotation>
   </xs:element>
</xs:schema>