conceptualcomponent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

Copyright (c) 2010 DDI Alliance, DDI 3.2 development release, 2010-09-21

This file is part of DDI 3.2 dev XML Schema.

DDI 3.2 dev XML Schema is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

DDI 3.2 dev XML Schema is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
for more details.

You should have received a copy of the GNU Lesser General Public License along
with DDI 3.2 dev XML Schema. If not, see <http://www.gnu.org/licenses/>.

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ddi:conceptualcomponent:3_2_dev" xmlns:r="ddi:reusable:3_2_dev" targetNamespace="ddi:conceptualcomponent:3_2_dev" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import namespace="ddi:reusable:3_2_dev" schemaLocation="reusable.xsd"/>
   <xs:element name="ConceptualComponent" type="ConceptualComponentType">
      <xs:annotation>
         <xs:documentation>A packaging module for the conceptual components of the study or group of studies.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ConceptualComponentType">
      <xs:annotation>
         <xs:documentation>A packaging module for the conceptual components of the study or group of studies. In addition to the standard name, label, and description, contains ConceptSchemes, UniverseSchemes, DataElementSchemes, GeographicStructureSchemes, and GeographicLocationSchemes both in-line and by reference.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:MaintainableType">
            <xs:sequence>
               <xs:element ref="ConceptualComponentModuleName" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A name for the ConceptualComponentModule. May be expressed in multiple languages. Repeat the element to express names with different content, for example different names for different systems.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A display label for the ConceptualComponentModule. May be expressed in multiple languages. Repeat for labels with different content, for example, labels with differing length limitations.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Description" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>A description of the ConceptualComponentModule. May be expressed in multiple languages and supports the use of structured content.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Coverage" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>Provides information about the topical, spatial, and temporal coverage of the conceptual components included in this module.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:OtherMaterial" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Provides information about external resources related to the conceptual components described in this module.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="ConceptScheme">
                     <xs:annotation>
                        <xs:documentation>Contains a set of the concepts measured by the data that are being documented.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="r:ConceptSchemeReference">
                     <xs:annotation>
                        <xs:documentation>Allows for inclusion by reference of an external concept scheme.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
               <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="UniverseScheme">
                     <xs:annotation>
                        <xs:documentation>Contains a set of the Universes and sub-universes of the data that are being documented.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="r:UniverseSchemeReference">
                     <xs:annotation>
                        <xs:documentation>Allows for inclusion by reference of an external universe scheme.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
               <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="DataElementScheme">
                     <xs:annotation>
                        <xs:documentation>Contains a set of DataElements.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="r:DataElementSchemeReference">
                     <xs:annotation>
                        <xs:documentation>Allows for inclusion by reference of an external DataElement scheme.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
               <xs:choice maxOccurs="unbounded" minOccurs="0">
                  <xs:element ref="GeographicStructureScheme">
                     <xs:annotation>
                        <xs:documentation>Contains a collection of geographic structures.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="r:GeographicStructureSchemeReference">
                     <xs:annotation>
                        <xs:documentation>Allows for inclusion by reference of a previously defined geographic structure scheme, either internal to, or external to the DDI instance.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
               <xs:choice maxOccurs="unbounded" minOccurs="0">
                  <xs:element ref="GeographicLocationScheme">
                     <xs:annotation>
                        <xs:documentation>Contains a collection of geographic locations.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="r:GeographicLocationSchemeReference">
                     <xs:annotation>
                        <xs:documentation>Allows for inclusion by reference of a previously defined geographic location scheme, either internal to or external to the DDI instance.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ConceptualComponentModuleName" type="r:NameType">
      <xs:annotation>
          <xs:documentation>Name of the Conceptual Component using the DDI Name structure.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ConceptSchemeType">
      <xs:annotation>
         <xs:documentation>A comprehensive list of the concepts measured by the data that are being documented that is maintained by an agency. In addition to the standard name, label, and description, allows for the inclusion of an existing ConceptScheme by reference, assignment of a controlled vocabulary for the scheme, and the inclusion of descriptions for Concept, DataElementConcept and ConceptGroup.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:MaintainableType">
            <xs:sequence>
               <xs:element ref="ConceptSchemeName" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A name for the ConceptScheme. May be expressed in multiple languages. Repeat the element to express names with different content, for example different names for different systems.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A display label for the ConceptScheme. May be expressed in multiple languages. Repeat for labels with different content, for example, labels with differing length limitations.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Description" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>A description of the ConceptScheme. May be expressed in multiple languages and supports the use of structured content.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:ConceptSchemeReference" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Reference to an existing ConceptScheme for inclusion.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="Vocabulary" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>Identifies and describes the vocabulary used to create the concept scheme.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="Concept">
                     <xs:annotation>
                        <xs:documentation>Describes an individual concept.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="DataElementConcept">
                     <xs:annotation>
                        <xs:documentation>Describes an individual DataElementConcept (per ISO/IEC 11179) providing the link between a concept and the object (universe) for which it is relevant.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
               <xs:element ref="ConceptGroup" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Allows for grouping of concepts for administrative or conceptual purposes; groups may have a hierarchical structure.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ConceptSchemeName" type="r:NameType">
       <xs:annotation>
            <xs:documentation>Name of the Concept Scheme using the DDI Name structure.</xs:documentation>
       </xs:annotation>
   </xs:element>
   <xs:complexType name="UniverseSchemeType">
      <xs:annotation>
         <xs:documentation>Contains a set of Universe descriptions that may be organized into sub-universe structures. A Universe may also be known as a population. A Universe describes the "object" of a Data Element Concept or Data Element as defined by ISO/IEC 11179.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:MaintainableType">
            <xs:sequence>
               <xs:element ref="UniverseSchemeName" minOccurs="0" maxOccurs="unbounded">
                   <xs:annotation>
                     <xs:documentation>A name for the UniverseScheme. May be expressed in multiple languages. Repeat the element to express names with different content, for example different names for different systems.</xs:documentation>
                  </xs:annotation>
               </xs:element>
              <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A display label for the UniverseScheme. May be expressed in multiple languages. Repeat for labels with different content, for example, labels with differing length limitations.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Description" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>A description of the content and purpose of the UniverseScheme. May be expressed in multiple languages and supports the use of structured content.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:UniverseSchemeReference" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Allows the inclusion of a UniverseScheme by reference.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="Universe" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Describes a universe (population, object). A universe may be organized into hierarchical sub-universes.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="UniverseSchemeName" type="r:NameType">
      <xs:annotation>
           <xs:documentation>Name of the Universe Scheme using the DDI Name structure.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="DataElementSchemeType">
      <xs:annotation>
         <xs:documentation>A set of DataElements managed by an agency. In addition to the standard name, label, and description, allows for the inclusion of an existing DataElementScheme by reference and DataElements either in-line or by reference.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:MaintainableType">
            <xs:sequence>
               <xs:element ref="DataElementSchemeName" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A name for the DataElementScheme. May be expressed in multiple languages. Repeat the element to express names with different content, for example different names for different systems.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A display label for the DataElementScheme. May be expressed in multiple languages. Repeat for labels with different content, for example, labels with differing length limitations.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Description" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>A description of the DataElementScheme. May be expressed in multiple languages and supports the use of structured content.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:DataElementSchemeReference" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Inclusion of an existing DataElementScheme by reference.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="DataElement">
                     <xs:annotation>
                        <xs:documentation>Describes a data element contained in the data element scheme.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="DataElementReference">
                     <xs:annotation>
                        <xs:documentation>Inclusion of an existing DataElement by reference.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="DataElementSchemeName" type="r:NameType">
     <xs:annotation>
          <xs:documentation>Name of the Data Element Scheme using the DDI Name structure.</xs:documentation>
     </xs:annotation>
   </xs:element>

   <xs:complexType name="ConceptGroupType">
      <xs:annotation>
         <xs:documentation>Allows for grouping of concepts; groups may have a hierarchical structure. This structure should not be used to model semantic concept hierarchies - for this purpose, use the SubclassOfReference element within Concept and DataElementConcept.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:VersionableType">
            <xs:sequence>
               <xs:element ref="ConceptGroupName" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A name for the ConceptGroup. May be expressed in multiple languages. Repeat the element to express names with different content, for example different names for different systems.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A display label for the ConceptGroup. May be expressed in multiple languages. Repeat for labels with different content, for example, labels with differing length limitations.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Description" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>A description of the ConceptGroup. May be expressed in multiple languages and supports the use of structured content.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice minOccurs="0" maxOccurs="1">
                  <xs:element ref="AdministrativePurpose">
                  		<xs:annotation>
                     		<xs:documentation>Usage indicates that the group was formed for administrative purposes. The object allows for specification of the purpose using a brief string or term. Supports the use of an external controlled vocabulary.</xs:documentation>
                  		</xs:annotation>
               		</xs:element>
                  	<xs:element ref="DefiningConceptReference">
                  		<xs:annotation>
                     		<xs:documentation>Usage indicates that the group was formed for a conceptual purpose. This is a reference to a Concept that defines the Group.</xs:documentation>
                  		</xs:annotation>
               	</xs:element>
               </xs:choice>
               <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element ref="ConceptReference">
                  <xs:annotation>
                     <xs:documentation>Reference to a concept included in the concept group. A concept can be referenced internally, from the concept scheme included in the same conceptual components module, or externally, from another scheme. This element is recursive to allow for the description of hierarchical relationships within the concept group.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="ConceptGroupReference">
                  <xs:annotation>
                     <xs:documentation>Reference to a subordinate concept group included in the concept group. A concept group can be referenced internally, from the concept scheme included in the same conceptual components module, or externally, from another scheme. This element is recursive to allow for the description of hierarchical relationships within the concept group.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               </xs:choice>
            </xs:sequence>
               <xs:attribute name="isOrdered" type="xs:boolean" default="false">
                  <xs:annotation>
                     <xs:documentation>If set to "true" indicates that the content of the group is ordered as it appears within the XML structure.</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
            <xs:attribute name="isAdministrativeOnly" type="xs:boolean" default="false">
               <xs:annotation>
                  <xs:documentation>Indicates the purpose of a concept group.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="isConcept" type="xs:boolean" use="optional" default="false">
               <xs:annotation>
                  <xs:documentation>A value of true indicates that there is a concept which defines the group, and which is comprised of the concepts contained in the group. A group can be conceptual in purpose (that is, have a value of "concept" for the purpose attribute), but not itself have a defining concept.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ConceptGroupName" type="r:NameType">
        <xs:annotation>
              <xs:documentation>Name of the Concept Group using the DDI Name structure.</xs:documentation>
        </xs:annotation>
   </xs:element>
   <xs:element name="ConceptGroupReference" type="r:ReferenceType">
        <xs:annotation>
              <xs:documentation>Reference to an existing ConceptGroup using the Reference structure.</xs:documentation>
        </xs:annotation>
   </xs:element>
   <xs:element name="AdministrativePurpose" type="r:CodeValueType">
      <xs:annotation>
         <xs:documentation>A brief textual description of the administrative reason that a group was formed. Supports the use of an external controlled vocabulary.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="DefiningConceptReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>Reference to an existing Concept using the Reference structure.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ConceptReferenceType">
      <xs:annotation>
         <xs:documentation>An infinitely nesting ConceptReference. References an initial Concept and any number of children, grandchildren, etc. Used to identify concepts that are component parts of another concept and allow nesting to create a hierarchical set of sub-concepts.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:ReferenceType">
            <xs:sequence>
               <xs:element ref="ConceptReference" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A reference to a child Concept of the primary reference. Used to create hierarchies of component children.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="VocabularyType">
      <xs:annotation>
         <xs:documentation>Provides information about the vocabulary used to create a concept scheme.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="VocabularyTitle" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Full title of vocabulary.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Abbreviation" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Abbreviation of vocabulary title.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Keyword" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Keywords that describe the vocabulary.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Description" minOccurs="0">
            <xs:annotation>
               <xs:documentation>A description of the content and purpose of the Vocabulary. May be expressed in multiple languages and supports the use of structured content.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:URI" minOccurs="0">
            <xs:annotation>
               <xs:documentation>URI to external resource providing information about the vocabulary (general description, main web page).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="XML-URI" type="xs:anyURI" minOccurs="0">
            <xs:annotation>
               <xs:documentation>URI to the vocabulary represented as an XML document.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Scheme" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Textual description of the XML scheme in which the classification is written.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SchemeURI" type="xs:anyURI" minOccurs="0">
            <xs:annotation>
               <xs:documentation>URI to the XML scheme used in the vocabulary (DTD or XML Schema for the XML document above; schemes like DDI, Claset, Neuchatel, and DocBook). Typically, this will be an XML namespace.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Comments" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Information for the user regarding the reasons for use of the vocabulary and appropriate usage constraints.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Concept" type="ConceptType">
      <xs:annotation>
         <xs:documentation>Describes a concept per ISO/IEC 11179.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ConceptType">
      <xs:annotation>
         <xs:documentation>Describes a concept per ISO/IEC 11179. In addition to the standard name, label, and description, can identify similar concepts, the concept which this concept is a subclass of, a concept that is used to characterize this concept, and a reference to the Universe associated with this concept. It is the linking of a concept to a specific universe (object) that defines this as a data element concept. </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:VersionableType">
            <xs:sequence>
               <xs:element ref="ConceptName" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A name for the DataElementConcept. May be expressed in multiple languages. Repeat the element to express names with different content, for example different names for different systems.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A display label for the DataElementConcept. May be expressed in multiple languages. Repeat for labels with different content, for example, labels with differing length limitations.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Description" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>A description of the content and purpose of the DataElementConcept. May be expressed in multiple languages and supports the use of structured content.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="SimilarConcept" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A reference to a concept expressing a similar idea plus a description of the differences. Used to assist in disambiguation of concepts.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="SubclassOfReference" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Reference to a Concept that is used for qualifying this data element concept. The referenced Concept should have its isCharacteristic attribute set to true.</xs:documentation>
                  </xs:annotation>
               </xs:element>               
            </xs:sequence>
            <xs:attribute name="isCharacteristic" type="xs:boolean" default="false">
               <xs:annotation>
                  <xs:documentation>If set to "true" this concept is used to describe a characteristic of another concept.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SubclassOfReference" type="r:ReferenceType">
       <xs:annotation>
            <xs:documentation>Reference to an existing Concept using the Reference structure.</xs:documentation>
       </xs:annotation>
   </xs:element>
   <xs:element name="ConceptName" type="r:NameType">
       <xs:annotation>
            <xs:documentation>Name of the Concept using the DDI Name structure.</xs:documentation>
       </xs:annotation>
   </xs:element>
   <xs:complexType name="DataElementConceptType">
      <xs:annotation>
         <xs:documentation>Describes a data element concept per ISO/IEC 11179. In addition to the standard name, label, and description, can identify similar concepts, the concept which this concept is a subclass of, a concept that is used to characterize this concept, and a reference to the Universe associated with this concept. It is the linking of a concept to a specific universe (object) that defines this as a data element concept. </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:VersionableType">
            <xs:sequence>
               <xs:element ref="DataElementConceptName" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A name for the DataElementConcept. May be expressed in multiple languages. Repeat the element to express names with different content, for example different names for different systems.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A display label for the DataElementConcept. May be expressed in multiple languages. Repeat for labels with different content, for example, labels with differing length limitations.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Description" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>A description of the content and purpose of the DataElementConcept. May be expressed in multiple languages and supports the use of structured content.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="SimilarConcept" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A reference to a concept expressing a similar idea plus a description of the differences. Used to assist in disambiguation of concepts.</xs:documentation>
                  </xs:annotation>
               </xs:element>
              <xs:element ref="SubclassOfReference" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Reference to another concept of which the concept being described is a subclass. This is used to model semantic hierarchies.</xs:documentation>
                  </xs:annotation>
               </xs:element>                
               <xs:element ref="CharacteristicReference">
                  <xs:annotation>
                     <xs:documentation>Reference to a Concept that is used for qualifying this data element concept. The referenced Concept should have its isCharacteristic attribute set to true.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:UniverseReference" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>Reference to a universe associated with this concept. Described as the Object in ISO/IEC 11179.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="DataElementConceptName" type="r:NameType">
       <xs:annotation>
          <xs:documentation>Name of the Data Element Concept using the DDI Name structure.</xs:documentation>
       </xs:annotation>
   </xs:element>
   <xs:element name="CharacteristicReference" type="ConceptReferenceType">
      <xs:annotation>
         <xs:documentation>Reference to an existing Concept using the Reference structure.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="DataElementConcept" type="DataElementConceptType">
      <xs:annotation>
         <xs:documentation>Describes a data element concept per ISO/IEC 11179.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SimilarConceptType">
      <xs:annotation>
         <xs:documentation>A reference to a concept with similar meaning and a description of their differences. Formal comparison is done using a ConceptMap. The similar concept structure allows specification of similar concepts to address cases where confusion may affect the appropriate use of the concept.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="SimilarConceptReference">
            <xs:annotation>
               <xs:documentation>Reference to a concept with a similar definition.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="r:Difference" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Describes the difference between the concept referenced in SimilarConceptReference and the concept included in the concept's Description element.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="SimilarConceptReference" type="r:ReferenceType">
      <xs:annotation>
            <xs:documentation>Reference to an existing Concept using the Reference structure.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="UniverseType">
      <xs:annotation>
         <xs:documentation>Describes a universe which may also be known as a population. A Universe describes the "object" of a Data Element Concept or Data Element as defined by ISO/IEC 11179. A universe may be organized into hierarchical sub-universes. In addition to the standard name, label, and description, the universe may provide a generation code (how the universe is differentiated or split out from another universe), a definition of hierarchical sub-settings for the universe, and an attribute that indicates if the description of the universe is stated in terms of what the universe includes.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:VersionableType">
            <xs:sequence>
               <xs:element ref="UniverseName" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A name for the Universe. May be expressed in multiple languages. Repeat the element to express names with different content, for example different names for different systems.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A display label for the Universe. May be expressed in multiple languages. Repeat for labels with different content, for example, labels with differing length limitations.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Description" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>A description of the content and purpose of the Universe. May be expressed in multiple languages and supports the use of structured content.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="UniverseGenerationCode" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>An expression of the universe in terms of the code used to generate or define it. For example how a given universe may be differentiated within a parent universe.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="SubUniverseGroup" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A sub-universe group provides a definition to the universes contained within it. For example the Sub-Universe Group of Gender for the Universe Resident Population may contain the Universe Males and the Universe Females</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="isInclusive" type="xs:boolean" default="true">
               <xs:annotation>
                  <xs:documentation>The default value is "true". The description statement of a universe is generally stated in inclusive terms such as "All persons residing in Europe". Occasionally a universe is defined by what it excludes, i.e., "All persons residing in Europe except for those residing on U.S. Military bases". In this case the value would be changed to "false".</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SubUniverseGroup" type="SubUniverseGroupType">
      <xs:annotation>
         <xs:documentation>A sub-universe group provides a definition to the universes contained within it. For example the Sub-Universe Group of Gender for the Universe Resident Population may contain the Universe Males and the Universe Females</xs:documentation>
      </xs:annotation>
   </xs:element>
<xs:complexType name="SubUniverseGroupType">
      <xs:annotation>
         <xs:documentation>A sub-universe group provides a definition to the universes contained within it. For example the Sub-Universe Group of Gender for the Universe Resident Population may contain the Universe Males and the Universe Females. In addition to the standard name, label, and description, the SubUniverseGroup references a concept which defines it, and references to the universes and or other sub-universe groups it contains. The contents of the SubUniverseGroup may be designated as ordered.</xs:documentation>
      </xs:annotation>
     <xs:complexContent>
     <xs:extension base="r:VersionableType">
       <xs:sequence>
        <xs:element ref="SubUniverseGroupName" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A name for the SubUniverseGroup. May be expressed in multiple languages. Repeat the element to express names with different content, for example different names for different systems.</xs:documentation>
                  </xs:annotation>
               </xs:element>
        <xs:element ref="r:Label" minOccurs="0"> 
                  <xs:annotation>
                     <xs:documentation>A display label for the SubUniverseGroup. May be expressed in multiple languages. Repeat for labels with different content, for example, labels with differing length limitations.</xs:documentation>
                  </xs:annotation>
               </xs:element>
        <xs:element ref="r:Description" minOccurs="0"> 
                  <xs:annotation>
                     <xs:documentation>A description of the content and purpose of the SubUniverseGroup. May be expressed in multiple languages and supports the use of structured content.</xs:documentation>
                  </xs:annotation>
               </xs:element>
        <xs:element ref="DefiningConceptReference" minOccurs="0">
          <xs:annotation>
            <xs:documentation>A concept that provides a grouping factor for the universes contained by the SubUniverseGroup. For example if the parent Universe is Population of the World and the two universes in the group are Male and Female the defining concept may be Sex.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="r:UniverseReference">
              <xs:annotation>
                  <xs:documentation>A reference to a universe contained in this SubUniverseGroup. Note that two different parent universes may contain references to the same universe within a sub-universe group. For example, the Universe "Population of Europe" and the Universe "Population of the United States" may both have a reference to the SubUniverseGroup with the defining concept of Gender and member Universes "Males" and "Females". The SubUniverseGroup is ALWAYS a restriction of its parent universe so that in one case it would be "Males within the Population of Europe" and in the other usage "Males within the Population of the United States". A question or variable should reference each relevant universe to define the appropriate intersect group.</xs:documentation>
              </xs:annotation>
          </xs:element>
          <xs:element ref="SubUniverseGroupReference">
              <xs:annotation>
                  <xs:documentation>A reference to a SubUniverseGroup contained in this SubUniverseGroup (a means of nesting hierarchies).</xs:documentation>
              </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:sequence>  
         <xs:attribute name="isOrdered" type="xs:boolean" default="false">
             <xs:annotation>
                 <xs:documentation>If set to "true" indicates that the content of the group is ordered as it appears within the XML structure.</xs:documentation>
             </xs:annotation>
         </xs:attribute>
     </xs:extension>
	 </xs:complexContent>
 </xs:complexType>      
   <xs:element name="SubUniverseGroupReference" type="r:ReferenceType">
       <xs:annotation>
           <xs:documentation>Reference to an existing SubUniverseGroup using the Reference structure.</xs:documentation>
       </xs:annotation>
   </xs:element>
   <xs:element name="SubUniverseGroupName" type="r:NameType">
       <xs:annotation>
           <xs:documentation>Name of the SubUniverse Group using the DDI Name structure.</xs:documentation>
       </xs:annotation>
   </xs:element>
   <xs:element name="UniverseName" type="r:NameType">
       <xs:annotation>
            <xs:documentation>Name of the Universe using the DDI Name structure.</xs:documentation>
       </xs:annotation>
   </xs:element>
   <xs:complexType name="DataElementType">
      <xs:annotation>
         <xs:documentation>The description of a DataElement per ISO/IEC 11179. A DataElement combines a DataElementConcept composed of a Concept and a Universe (Object) with a representation defined by a set of categories (coded or without an attached code) or another representation type such as amount, identifier, text, numeric, etc. In addition to the standard name, label, and description, includes a reference to a Universe, a Concept, and CategoryScheme and provides a description of the representation using an internal controlled vocabulary.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:VersionableType">
            <xs:sequence>
               <xs:element ref="DataElementName" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A name for the DataElement. May be expressed in multiple languages. Repeat the element to express names with different content, for example different names for different systems.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A display label for the DataElement. May be expressed in multiple languages. Repeat for labels with different content, for example, labels with differing length limitations.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Description" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>A description of the DataElement. May be expressed in multiple languages and supports the use of structured content.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:UniverseReference" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Reference to the universe statement containing a description of the widest possible group of persons or other elements that this DataElement refers to, and to which any analytic results refer.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="ConceptReference" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Reference to the concept measured by this DataElement.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:CategorySchemeReference" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Reference to a category scheme that contains the representation domain of the DataElement.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="DataElementRepresentation" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Abstract representation of non-category data types for this DataElement. Includes the ability to indicate that the Classification Scheme has been coded.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="DataElementName" type="r:NameType">
       <xs:annotation>
             <xs:documentation>Name of the Data Element using the DDI Name structure.</xs:documentation>
       </xs:annotation>
   </xs:element>
   <xs:element name="DataElementRepresentation" type="DataElementRepresentationType">
      <xs:annotation>
         <xs:documentation>A classification scheme for representation.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <!-- DataElementRepresentationType -->
   <xs:simpleType name="DataElementRepresentationType">
      <xs:annotation>
         <xs:documentation>A classification scheme for the representation type of a DataElement.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Amount">
            <xs:annotation>
               <xs:documentation>Monetary value with units of currency.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BinaryObject">
            <xs:annotation>
               <xs:documentation>Set of finite-length sequences of binary octets used to represent sound, images and other structures.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Code">
            <xs:annotation>
               <xs:documentation>An enumerated list of all allowable values. Each enumerated value is a string that for brevity represents a specific meaning.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="DateTime">
            <xs:annotation>
               <xs:documentation>An ISO 8601 date and time elements. </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Identifier">
            <xs:annotation>
               <xs:documentation>A value serving to uniquely identify an object within a specific environment. </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Indicator">
            <xs:annotation>
               <xs:documentation>Boolean, exactly two mutually exclusive values (true and false) which must be defined.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Measure">
            <xs:annotation>
               <xs:documentation>Numeric value determined by measurement with units. Typically used with items such as height or weight. If the unit of measure is not clear it should be specified.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Name">
            <xs:annotation>
               <xs:documentation>A textual label meaningful in some language used to identify an object. A name is not necessarily unique.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Numeric">
            <xs:annotation>
               <xs:documentation>Assigned or determined by calculation.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Text">
            <xs:annotation>
               <xs:documentation>Character string.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Value">
            <xs:annotation>
               <xs:documentation>A type of numeric</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Percent">
            <xs:annotation>
               <xs:documentation>A type of numeric traditionally the result of a ratio.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Quantity">
            <xs:annotation>
               <xs:documentation>Non-monetary numeric value or count with units.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Rate">
            <xs:annotation>
               <xs:documentation>A type of numeric.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>

   <!-- GEOGRAPHY -->
   <xs:complexType name="GeographicStructureSchemeType">
      <xs:annotation>
         <xs:documentation>Contains information on the hierarchy of the geographic structure. In addition to the standard name, label, and description identifies one or more AuthorizedSources for the level codes/descriptions provided and a set of GeographicLevels in-line or by reference.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:MaintainableType">
            <xs:sequence>
               <xs:element ref="GeographicStructureSchemeName" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A name for the GeographicStructure. May be expressed in multiple languages. Repeat the element to express names with different content, for example different names for different systems.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A display label for the GeographicStructure. May be expressed in multiple languages. Repeat for labels with different content, for example, labels with differing length limitations.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Description" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>A description of the GeographicStructure. May be expressed in multiple languages and supports the use of structured content.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:GeographicStructureSchemeReference" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>An identifiable authorization source repeated for each identifying code type. This allows the codes to be used as delineations for response domains and value representations by designating a specific set of locations and the code of an authorization source. An authorization source should differentiate between codes derived for different purposes within the same agency.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="r:GeographicStructure">
                     <xs:annotation>
                        <xs:documentation>Used to describe any level of geography, including overall coverage and each of the lower levels.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="r:GeographicStructureReference">
                     <xs:annotation>
                        <xs:documentation>Inclusion of an existing GeographicLevel description by reference.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="GeographicStructureSchemeName" type="r:NameType">
      <xs:annotation>
           <xs:documentation>Name of the Geographic Structure Scheme using the DDI Name structure.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeographicLocationSchemeType">
      <xs:annotation>
         <xs:documentation>A Scheme containing a set of geographic locations, each for a single Geography type, e.g., States, OR Counties, OR Countries, etc. The geographic location element has to be repeated for each geography. In addition to the standard name, label, and description, allows for the inclusion of an existing GeographicLocationScheme by reference and GeographicLocation descriptions either in-line or by reference.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:MaintainableType">
            <xs:sequence>
               <xs:element ref="GeographicLocationSchemeName" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A name for the GeographicLocationScheme. May be expressed in multiple languages. Repeat the element to express names with different content, for example different names for different systems.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A display label for the GeographicLocationScheme. May be expressed in multiple languages. Repeat for labels with different content, for example, labels with differing length limitations.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Description" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>A description of the GeographicLocationScheme. May be expressed in multiple languages and supports the use of Location content.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:GeographicLocationSchemeReference" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Inclusion of an existing GeographicLocationScheme by reference.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="r:GeographicLocation">
                     <xs:annotation>
                        <xs:documentation>Description of a GeographicLocation.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="r:GeographicLocationReference">
                     <xs:annotation>
                        <xs:documentation>Inclusion of an existing GeographicLocation by reference.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="GeographicLocationSchemeName" type="r:NameType">
      <xs:annotation>
         <xs:documentation>Name of the Geographic Location Scheme using the DDI Name structure.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="VocabularyTitle" type="r:InternationalStringType">
      <xs:annotation>
         <xs:documentation>The title of the vocabulary expressed using an International String to support multiple language versions of the same content.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Abbreviation" type="r:InternationalStringType">
      <xs:annotation>
         <xs:documentation>An abbreviation for the parent object expressed using an International String to support multiple language versions of the same content.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="ConceptScheme" type="ConceptSchemeType">
      <xs:annotation>
         <xs:documentation>A comprehensive list of the concepts measured by the data that are being documented that is maintained by an agency.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="UniverseScheme" type="UniverseSchemeType">
      <xs:annotation>
         <xs:documentation>Contains a set of Universe descriptions that may be organized into sub-universe structures. </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Universe" type="UniverseType">
      <xs:annotation>
         <xs:documentation>Describes a universe which may also be known as a population. </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="DataElement" type="DataElementType">
      <xs:annotation>
         <xs:documentation>The description of a DataElement per ISO/IEC 11179.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="DataElementReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>Reference to an existing DataElement using the Reference structure.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="UniverseGenerationCode" type="r:CommandCodeType">
      <xs:annotation>
         <xs:documentation>Information on the command used for generating the definition of the coverage of the universe.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Vocabulary" type="VocabularyType">
      <xs:annotation>
         <xs:documentation>Provides information about the vocabulary used to create a concept scheme.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="DataElementScheme" type="DataElementSchemeType">
      <xs:annotation>
         <xs:documentation>A set of DataElements managed by an agency.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="ConceptGroup" type="ConceptGroupType">
      <xs:annotation>
         <xs:documentation>Allows for grouping of concepts; groups may have a hierarchical structure.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="ConceptReference" type="ConceptReferenceType">
      <xs:annotation>
         <xs:documentation>An infinitely nesting ConceptReference. </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Comments" type="r:StructuredStringType">
      <xs:annotation>
         <xs:documentation>Comments provided using a StructuredString to support multiple language versions of the same content as well as optional formatting of the content.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="SimilarConcept" type="SimilarConceptType">
      <xs:annotation>
         <xs:documentation>A reference to a concept with similar meaning and a description of their differences.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="GeographicStructureScheme" type="GeographicStructureSchemeType">
      <xs:annotation>
         <xs:documentation>A Scheme containing a set of geographic structure types and their relationship to each other. </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="GeographicLocationScheme" type="GeographicLocationSchemeType">
      <xs:annotation>
         <xs:documentation>A Scheme containing a set of geographic locations, each for a single Geography type, e.g., States, OR Counties, OR Countries, etc. </xs:documentation>
      </xs:annotation>
   </xs:element>
</xs:schema>