instance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

Copyright (c) 2010 DDI Alliance, DDI 3.2 development release, 2010-09-21

This file is part of DDI 3.2 dev XML Schema.

DDI 3.2 dev XML Schema is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

DDI 3.2 dev XML Schema is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
for more details.

You should have received a copy of the GNU Lesser General Public License along
with DDI 3.2 dev XML Schema. If not, see <http://www.gnu.org/licenses/>.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ddi:instance:3_2_dev" xmlns:a="ddi:archive:3_2_dev" xmlns:cm="ddi:comparative:3_2_dev" xmlns:c="ddi:conceptualcomponent:3_2_dev" xmlns:d="ddi:datacollection:3_2_dev" xmlns:ds="ddi:dataset:3_2_dev" xmlns:dc="http://purl.org/dc/terms/" xmlns:pr="ddi:ddiprofile:3_2_dev" xmlns:g="ddi:group:3_2_dev" xmlns:m3="ddi:physicaldataproduct_ncube_inline:3_2_dev" xmlns:l="ddi:logicalproduct:3_2_dev" xmlns:m1="ddi:physicaldataproduct_ncube_normal:3_2_dev" xmlns:p="ddi:physicaldataproduct:3_2_dev" xmlns:pi="ddi:physicalinstance:3_2_dev" xmlns:r="ddi:reusable:3_2_dev" xmlns:s="ddi:studyunit:3_2_dev" xmlns:m2="ddi:physicaldataproduct_ncube_tabular:3_2_dev" xmlns:m4="ddi:physicaldataproduct_proprietary:3_2_dev" targetNamespace="ddi:instance:3_2_dev" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:import namespace="ddi:archive:3_2_dev" schemaLocation="archive.xsd"/>
	<xs:import namespace="ddi:comparative:3_2_dev" schemaLocation="comparative.xsd"/>
	<xs:import namespace="ddi:conceptualcomponent:3_2_dev" schemaLocation="conceptualcomponent.xsd"/>
	<xs:import namespace="ddi:datacollection:3_2_dev" schemaLocation="datacollection.xsd"/>
	<xs:import namespace="ddi:dataset:3_2_dev" schemaLocation="dataset.xsd"/>
	<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="dcterms.xsd"/>
	<xs:import namespace="ddi:ddiprofile:3_2_dev" schemaLocation="ddiprofile.xsd"/>
	<xs:import namespace="ddi:group:3_2_dev" schemaLocation="group.xsd"/>
	<xs:import namespace="ddi:logicalproduct:3_2_dev" schemaLocation="logicalproduct.xsd"/>
	<xs:import namespace="ddi:physicaldataproduct:3_2_dev" schemaLocation="physicaldataproduct.xsd"/>
	<xs:import namespace="ddi:physicaldataproduct_ncube_inline:3_2_dev" schemaLocation="physicaldataproduct_ncube_inline.xsd"/>
	<xs:import namespace="ddi:physicaldataproduct_ncube_normal:3_2_dev" schemaLocation="physicaldataproduct_ncube_normal.xsd"/>
	<xs:import namespace="ddi:physicaldataproduct_ncube_tabular:3_2_dev" schemaLocation="physicaldataproduct_ncube_tabular.xsd"/>
	<xs:import namespace="ddi:physicaldataproduct_proprietary:3_2_dev" schemaLocation="physicaldataproduct_proprietary.xsd"/>
	<xs:import namespace="ddi:physicalinstance:3_2_dev" schemaLocation="physicalinstance.xsd"/>
	<xs:import namespace="ddi:reusable:3_2_dev" schemaLocation="reusable.xsd"/>
	<xs:import namespace="ddi:studyunit:3_2_dev" schemaLocation="studyunit.xsd"/>
	<xs:element name="DDIInstance" type="DDIInstanceType">
		<xs:annotation>
			<xs:documentation>DDIInstance is the top-level publication wrapper for any DDI document. All DDI content published as XML (with the exception of a Fragment intended for transmission) had DDIInstance as its top level structure. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FragmentInstance" type="FragmentInstanceType">
		<xs:annotation>
			<xs:documentation>A Fragment Instance can be used to transfer maintainable or versionable objects plus any associated notes and other material. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DDIInstanceType">
		<xs:annotation>
			<xs:documentation>DDIInstance is the top-level publication wrapper for any DDI document. All DDI content published as XML (with the exception of a Fragment intended for transmission) had DDIInstance as its top level structure. In addition to a citation and coverage statement for the instance, the DDIInstance can contain a Group, ResourcePackage, LocalHoldingPackeage or StudyUnit. Additional OtherMaterial content may be added but in general OtherMaterial should be listed in the maintainable object containing the objects the OtherMaterial is related to. The instance can provide an applicable DDIProfile either in-line or by reference and can contain overall translation information. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="r:MaintainableType">
				<xs:sequence>
					<xs:element ref="r:Citation" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Citation for the Instance. Note that the citation is optional, because the DDI Instance may contain only reusable component pieces of metadata sets, which are not directly concerned with a single study or studies.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="r:Coverage" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This element contains descriptions of temporal, geographic and topical coverage. At the instance level these descriptions should be inclusive of the coverage of all modules in the instance. The element is available within individual modules and can be used to refine the coverage to that of the individual module.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="g:Group" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A publication of a Group of StudyUnits.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="g:ResourcePackage" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A publication of a set of maintainables (modules or schemes) intended for reuse between studies.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="g:LocalHoldingPackage" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A publication package containing a deposited publication as well as local value added or processing information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="s:StudyUnit" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A publication of a study unit representing the purpose, background, development, data capture, and data products related to a study.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="r:OtherMaterial" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>External materials related to the DDI Instance that have not been included in any maintainables contained within the instance.</xs:documentation>
						</xs:annotation>
					</xs:element>
           		   		<xs:choice minOccurs="0" maxOccurs="unbounded">
        		         		<xs:element ref="pr:DDIProfile">
        		            		<xs:annotation>
        		               		<xs:documentation>A DDIProfile applicable to the instance.</xs:documentation>
       		             		</xs:annotation>
      		           		</xs:element>
      		           		<xs:element ref="r:DDIProfileReference">
                		    		<xs:annotation>
        		              		 <xs:documentation>Inclusion of an existing DDIProfile by reference.</xs:documentation>
                		    		</xs:annotation>
          		       		</xs:element>
          		    		</xs:choice>
					<xs:element ref="TranslationInformation" minOccurs="0">
						<xs:annotation>
							<xs:documentation>TranslationInformation contains information about the translation of the content of the DDI Instance. This includes human-readable information about which language(s) are involved in the translation.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FragmentInstanceType">
	  <xs:annotation>
	    <xs:documentation>A Fragment Instance can be used to transfer maintainable or versionable objects plus any associated notes and other material. TopLevelReference provides a record of the reference(s) to which the FragmentInstance is responding. The contents of the maintainable and versionable objects are transported as ddi:Fragment entries. Child items, which are items included in the top level items by reference, may be provided as additional ddi:Fragment entries depending on the desired resolution depth. Be aware that within the DDI model all versionables must provide contextual information on the maintainable parent. When creating your web services you must be able to provide contextual information on the maintainable parent of a versionable object. The identification and reference structure provides the MaintainableObject structure to use in capturing this information if it is not provided by the URN structure of the versionable object.</xs:documentation>
	  </xs:annotation>
		<xs:complexContent>
			<xs:extension base="r:MaintainableType">
				<xs:sequence>
	    				<xs:element ref="TopLevelReference" minOccurs="0" maxOccurs="unbounded">
	  					<xs:annotation>
	    						<xs:documentation>TopLevelReference is used to denote which items in the Fragment Instance are the specific results of a query or process expressed as references. (A record of the request)</xs:documentation>
	  					</xs:annotation>
	   				 </xs:element>	
	   				 <xs:element ref="Fragment" minOccurs="0" maxOccurs="unbounded">	    
	  					<xs:annotation>
	    						<xs:documentation>A Fragment is a means of transporting a maintainable or versionable object plus any associated notes and other material. This item is repeated for each object included in the FragmentInstance. At minimum it should include the objects identified in TopLevelReference. Fragments for child objects of the items identified by a TopLevelReference may also be included. For a versionable object this requires information on the identification of its parent maintainable. This is considered to be administrative metadata and the addition of this metadata to an object does not cause it to version. The list of maintainables and versionables may occur in any order followed by associated notes and OtherMaterial.</xs:documentation>
	  					</xs:annotation>
	 				 </xs:element>	
	 			</xs:sequence>
	 		</xs:extension>
	 	</xs:complexContent>	
	</xs:complexType>  
	<xs:element name="TopLevelReference" type="r:ReferenceType">
		<xs:annotation>
			<xs:documentation>Reference to any versionable or maintainable object using the Reference structure.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Fragment" type="FragmentType">
		<xs:annotation>
			<xs:documentation>A Fragment is a means of transporting a maintainable or versionable object plus any associated notes and other material. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FragmentType">
	  <xs:annotation>
	    <xs:documentation>A Fragment is a means of transporting a maintainable or versionable object plus any associated notes and other material. The list of maintainables and versionables may occur in any order followed by associated notes and OtherMaterial.</xs:documentation>
	  </xs:annotation>
	  <xs:sequence>
	    <xs:choice>
              <!-- Maintainables -->
	      <xs:element ref="a:Archive"/>
	      <xs:element ref="r:CategoryDelineationScheme"/>
	      <xs:element ref="l:CategoryScheme"/>
	      <xs:element ref="r:CodeDelineationScheme"/>
	      <xs:element ref="l:CodeList"/>
	      <xs:element ref="l:CodeListScheme"/>
	      <xs:element ref="cm:Comparison"/>
	      <xs:element ref="c:ConceptScheme"/>
	      <xs:element ref="c:ConceptualComponent"/>
	      <xs:element ref="d:ControlConstructScheme"/>
	      <xs:element ref="d:DataCollection"/>
	      <xs:element ref="c:DataElementScheme"/>
	      <xs:element ref="r:DateTimeDelineationScheme"/>
	      <xs:element ref="DDIInstance"/>
	      <xs:element ref="pr:DDIProfile"/>
	      <xs:element ref="r:DistributionDelineationScheme"/>
	      <xs:element ref="r:GeographicDelineationScheme"/>
	      <xs:element ref="r:GeographicLocationCodeDelineationScheme"/>
	      <xs:element ref="c:GeographicLocationScheme"/>
	      <xs:element ref="r:GeographicStructureCodeDelineationScheme"/>
	      <xs:element ref="c:GeographicStructureScheme"/>
	      <xs:element ref="g:Group"/>
	      <xs:element ref="d:InstrumentScheme"/>
	      <xs:element ref="d:InterviewerInstructionScheme"/>
	      <xs:element ref="g:LocalHoldingPackage"/>
	      <xs:element ref="g:LocalGroupContent"/>
	      <xs:element ref="g:LocalResourcePackageContent"/>
	      <xs:element ref="g:LocalStudyUnitContent"/>
	      <xs:element ref="r:LocationDelineationScheme"/>
	      <xs:element ref="l:LogicalProduct"/>
	      <xs:element ref="r:MissingValuesDelineationScheme"/>
	      <xs:element ref="l:NCubeScheme"/>
	      <xs:element ref="r:NominalDelineationScheme"/>
	      <xs:element ref="r:NumericDelineationScheme"/>
	      <xs:element ref="a:OrganizationScheme"/>
	      <xs:element ref="p:PhysicalDataProduct"/>
	      <xs:element ref="pi:PhysicalInstance"/>
	      <xs:element ref="p:PhysicalStructureScheme"/>
	      <xs:element ref="d:ProcessingEventScheme"/>
	      <xs:element ref="d:ProcessingInstructionScheme"/>
	      <xs:element ref="r:QualityStatementScheme"/>
	      <xs:element ref="d:QuestionScheme"/>
	      <xs:element ref="r:RankingDelineationScheme"/>
	      <xs:element ref="p:RecordLayoutScheme"/>
	      <xs:element ref="g:ResourcePackage"/>
	      <xs:element ref="r:ScaleDelineationScheme"/>
	      <xs:element ref="s:StudyUnit"/>
	      <xs:element ref="r:TextDelineationScheme"/>
	      <xs:element ref="c:UniverseScheme"/>
	      <xs:element ref="l:VariableScheme"/>
              <!-- Versionables -->
	      <xs:element ref="l:Category"/>
	      <xs:element ref="r:CategoryDelineation"/>
	      <xs:element ref="r:CategoryDelineationGroup"/>
	      <xs:element ref="l:CategoryGroup"/>
	      <xs:element ref="cm:CategoryMap"/>
	      <xs:element ref="r:CodeDelineation"/>
	      <xs:element ref="r:CodeDelineationGroup"/>
	      <xs:element ref="l:CodeListGroup"/>
	      <xs:element ref="cm:CodeMap"/>
	      <xs:element ref="d:ComputationItem"/>
	      <xs:element ref="c:Concept"/>
	      <xs:element ref="c:ConceptGroup"/>
	      <xs:element ref="cm:ConceptMap"/>
	      <xs:element ref="c:DataElement"/>
	      <xs:element ref="c:DataElementConcept"/>
	      <xs:element ref="l:DataRelationship"/>
	      <xs:element ref="ds:DataSet"/>
	      <xs:element ref="r:DateTimeDelineation"/>
	      <xs:element ref="r:DateTimeDelineationGroup"/>
	      <xs:element ref="r:DistributionDelineation"/>
	      <xs:element ref="r:DistributionDelineationGroup"/>
	      <xs:element ref="d:GeneralInstruction"/>
	      <xs:element ref="d:GenerationInstruction"/>
	      <xs:element ref="r:GeographicDelineation"/>
	      <xs:element ref="r:GeographicDelineationGroup"/>
	      <xs:element ref="r:GeographicLocation"/>
	      <xs:element ref="r:GeographicLocationCodeDelineation"/>
	      <xs:element ref="r:GeographicLocationCodeDelineationGroup"/>
	      <xs:element ref="r:GeographicStructure"/>
	      <xs:element ref="r:GeographicStructureCodeDelineation"/>
	      <xs:element ref="r:GeographicStructureCodeDelineationGroup"/>
	      <xs:element ref="d:IfThenElse"/>
	      <xs:element ref="a:Individual"/>
	      <xs:element ref="d:Instruction"/>
	      <xs:element ref="d:Instrument"/>
	      <xs:element ref="d:InstrumentGroup"/>
	      <xs:element ref="r:LocationDelineation"/>
	      <xs:element ref="r:LocationDelineationGroup"/>
	      <xs:element ref="d:Loop"/>
	      <xs:element ref="d:Methodology"/>
	      <xs:element ref="r:MissingValuesDelineation"/>
	      <xs:element ref="r:MissingValuesDelineationGroup"/>
	      <xs:element ref="l:NCube"/>
	      <xs:element ref="l:NCubeGroup"/>
	      <xs:element ref="m1:NCubeInstance"/>
	      <xs:element ref="m2:NCubeInstance"/>
	      <xs:element ref="m3:NCubeInstance"/>
	      <xs:element ref="r:NominalDelineation"/>
	      <xs:element ref="r:NominalDelineationGroup"/>
	      <xs:element ref="r:NumericDelineation"/>
	      <xs:element ref="r:NumericDelineationGroup"/>
	      <xs:element ref="a:Organization"/>
	      <xs:element ref="p:PhysicalStructure"/>
	      <xs:element ref="p:PhysicalStructureGroup"/>
	      <xs:element ref="d:ProcessingEvent"/>
	      <xs:element ref="d:ProcessingEventGroup"/>
	      <xs:element ref="d:ProcessingInstructionGroup"/>
	      <xs:element ref="r:QualityStatement"/>
	      <xs:element ref="d:QuestionBlock"/>
	      <xs:element ref="d:QuestionConstruct"/>
	      <xs:element ref="d:QuestionGrid"/>
	      <xs:element ref="d:QuestionGroup"/>
	      <xs:element ref="d:QuestionItem"/>
	      <xs:element ref="cm:QuestionMap"/>
	      <xs:element ref="r:RankingDelineation"/>
	      <xs:element ref="r:RankingDelineationGroup"/>
	      <xs:element ref="m1:RecordLayout"/>
	      <xs:element ref="m2:RecordLayout"/>
	      <xs:element ref="m3:RecordLayout"/>
	      <xs:element ref="m4:RecordLayout"/>
	      <xs:element ref="p:RecordLayout"/>
	      <xs:element ref="p:RecordLayoutGroup"/>
	      <xs:element ref="d:RepeatUntil"/>
	      <xs:element ref="d:RepeatWhile"/>
	      <xs:element ref="r:ScaleDelineation"/>
	      <xs:element ref="r:ScaleDelineationGroup"/>
	      <xs:element ref="d:Sequence"/>
	      <xs:element ref="d:StatementItem"/>
	      <xs:element ref="g:SubGroup"/>
	      <xs:element ref="c:SubUniverseGroup"/>
	      <xs:element ref="r:TextDelineation"/>
	      <xs:element ref="r:TextDelineationGroup"/>
	      <xs:element ref="c:Universe"/>
	      <xs:element ref="cm:UniverseMap"/>
	      <xs:element ref="l:Variable"/>
	      <xs:element ref="l:VariableGroup"/>
	      <xs:element ref="cm:VariableMap"/>
	      <xs:element ref="pi:VariableStatistics"/>
	      <xs:element ref="d:Weighting"/>
	    </xs:choice>
	    <xs:element ref="r:Note" minOccurs="0" maxOccurs="unbounded"> 
			<xs:annotation>
				<xs:documentation>Notes specific to the object within the fragment.</xs:documentation>
			</xs:annotation>
		</xs:element>
	    <xs:element ref="r:OtherMaterial" minOccurs="0" maxOccurs="unbounded"> 
			<xs:annotation>
				<xs:documentation>OtherMaterial associated with the object within the fragment.</xs:documentation>
			</xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
	<xs:complexType name="TranslationType">
		<xs:annotation>
			<xs:documentation>Provides the language of translation as well as a description of translation for the contents of the DDI Instance.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="r:Language" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Uses the more generic Language element found in a Citation. Allows for use of an external controlled vocabulary.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="I18n-text" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Value of the language identifier used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="I18n-catalog" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the l18n catalog used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="r:Description" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of the translation process of the data and metadata</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="xml:lang">
			<xs:annotation>
				<xs:documentation>Language of the tag content.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="TranslationInformation" type="TranslationType">
		<xs:annotation>
			<xs:documentation>Provides the language of translation as well as a description of translation for the contents of the DDI Instance.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
