logicalproduct.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="ddi:logicalproduct:0_1" xmlns="ddi:logicalproduct:0_1" xmlns:r="ddi:reusable:0_1" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xs:import namespace="ddi:reusable:0_1" schemaLocation="reusable.xsd" />

<!-- BASE LOGICAL PRODUCT -->	
	<xs:element name="BaseLogicalProduct" type="BaseLogicalProductType" abstract="true"/>
	
	<xs:complexType name="BaseLogicalProductType" abstract="true">
		<xs:sequence>
			<xs:element ref="r:Identification">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="r:Universe" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="r:OtherMaterial" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="r:Note" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="CategoryScheme" type="CategorySchemeType">
					<xs:annotation>
						<xs:documentation>A category scheme - contains a collection of categories, and category groups, which can contain hierarchical relationships between categories.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CategorySchemeReference" type="r:ReferenceType">
					<xs:annotation>
						<xs:documentation>A reference to a previously defined category scheme.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="VariableScheme" type="VariableSchemeType">
					<xs:annotation>
						<xs:documentation>A variable scheme - contains a collection of variables and variable groups.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="VariableSchemeReference" type="r:ReferenceType">
					<xs:annotation>
						<xs:documentation>A reference to a previously defined variable scheme.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>


<!-- LOGICAL PRODUCT -->	
	<xs:element name="LogicalProduct" type="LogicalProductType" substitutionGroup="BaseLogicalProduct"/>
	
	<xs:complexType name="LogicalProductType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseLogicalProductType">
				<xs:sequence>
					<!-- No notes on what this should look like. -->
					<xs:element name="ProgrammingGuide" type="r:StructuredStringType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<!-- CATEGORIES -->
	<xs:complexType name="CategorySchemeType">
		<xs:sequence>
			<xs:element ref="r:Identification">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="CategoryType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A description of a particular response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryGroup" type="CategoryGroupType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A description of response categories that might be grouped together.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CategoryType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="r:Identification"/>
			<xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A short description of the category.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Derivation" type="DerivationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Derivation details of the category.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Definition" type="r:StructuredStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional textual descriptions of the category groupx`.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="missing" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates if it contains missing data or not.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="CategoryGroupType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="r:Identification"/>
			<xs:element name="HierarchyType" type="HierarchyCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code list identifying the nesting of categories for this variable.  Possible values are Regular and Irregular.  A regular nesting indicates that the category hierarchy is clean, meaning the the lowest levels of the heirarchy are at the same level for any branch on the hierarchy.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Level" type="LevelType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Used to describe the levels of the category hierarchy.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryRefernce" type="CategoryValueReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to included category.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LevelType">
		<xs:annotation>
			<xs:documentation>Used to describe the levels of the category hierarchy.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of category level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="r:StructuredStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Description of category level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelationshipType" type="CategoryRelationCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code describing the relationship between categories.  Possible values are either Nominal, Ordinal, or Interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Interval" type="IntervalType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the inteval between each value of the categorys for this variable.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="levelNumber" type="xs:integer" use="required"/>
	</xs:complexType>

	<xs:complexType name="CategoryValueReferenceType">
		<xs:complexContent>
			<xs:extension base="r:ReferenceType">
				<xs:sequence>
					<xs:element name="Value" type="xs:string">
						<xs:annotation>
							<xs:documentation>Explicit response found in data file.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CategoryReference" type="CategoryValueReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A reference to a child category.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="isDiscrete" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation>Indicates whether the category is discrete (lowest level, no children).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="levelNumber" type="xs:integer" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CategoryReferenceType">
		<xs:complexContent>
			<xs:extension base="r:ReferenceType">
				<xs:sequence>
					<xs:element name="CategoryReference" type="CategoryReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A reference to a child category.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="isDiscrete" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation>Indicates whether the category is discrete (lowest level, no children).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="levelNumber" type="xs:integer" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="IntervalType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Anchor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Identifies the start value for this interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Increment" type="xs:string">
				<xs:annotation>
					<xs:documentation>Value specifiying the increment between categories.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

<!-- VARIABLES -->
	<xs:complexType name="VariableSchemeType">
		<xs:sequence>
			<xs:element ref="r:Identification">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="Variable" type="VariableType">
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="VariableReference" type="r:ReferenceType">
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="VariableGroup" type="VariableGroupType">
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="VariableGroupReference" type="r:ReferenceType">
					<xs:annotation>
						<xs:documentation></xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="VariableType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="r:Identification">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A short description of the variable. The length of this phrase may depend on the statistical analysis system used (e.g., some versions of SAS permit 40-character labels, while some versions of SPSS permit 120 characters), although the DDI itself imposes no restrictions on the number of characters allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Definition" type="r:StructuredStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional textual descriptions of the variable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="r:Universe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The group of persons or other elements that are the object of research and to which any analytic results refer. Age, nationality, and residence commonly help to delineate a given universe, but any of a number of factors may be involved, such as sex, race, income, veteran status, criminal convictions, etc. The universe may consist of elements other than persons, such as housing units, court cases, deaths, countries, etc. In general, it should be possible to tell from the description of the universe whether a given individual or element (hypothetical or real) is a member of the population under study. A "level" attribute is included to permit coding of the level to which universe applies, i.e., the study level, the file level (if different from study), the record group, the variable group, the nCube group, the variable, or the nCube level. The "clusion" attribute provides for specification of groups included (I) in or excluded (E) from the universe. If all the variables/nCubes described in the data documentation relate to the same population, e.g., the same set of survey respondents, this element would be unnecessary at data description level. In this case, universe can be fully described at the study level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConceptReference" type="r:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>General concept to which this varaible belongs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Question" type="r:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to question for this variable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Embargo" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference to embargo information pertaining to this variable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponseUnit" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information regarding who provided the information contained within the variable/nCube, e.g., respondent, proxy, interviewer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnalysisUnit" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information regarding whom or what the variable/nCube describes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Representation" type="RepresentationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Describes the representation of the variable, including categories, data typing, and computation information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="isTemporal" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Indicates whether the variable relays time-related information.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isGeographic" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Indicates whether the variable relays geographic information.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isWeight" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates whether the variable is a weight.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="RepresentationType">
		<xs:annotation>
			<xs:documentation>Type to describe the representation of a variable</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataType" type="r:DataTypeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Need to define complete vocabulary for this.  Examples are count, frequency, identity, time, entity, etc. -->
			<xs:element name="Role" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightVariableReference" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference to weight variable for this variable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandardWeightReference" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference to a standard weight, as described in the DataCollection module.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Imputation" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to the Statistical Terminology glossary maintained by the National Science Foundation, this is "the process by which one estimates missing values for items that a survey respondent failed to provide," and if applicable in this context, it refers to the type of procedure used. When applied to an nCube, imputation takes into consideration all of the dimensions that are part of that nCube.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConcatenatedValue" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides a reference to another variable, which describes the method for deriving the value of this varialbe, by concatenating a collection of other variables.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodingInstructions" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Any special instructions to those who converted information from one form to another for a particular variable. This might include the reordering of numeric information into another form or the conversion of textual information into numeric information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Derivation" type="DerivationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used only for derived variables.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="ValidDataRange" type="DataRangeType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InvalidDataRange" type="DataRangeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="CategoryGroupReference" type="CategoryGroupReferenceType">
					<xs:annotation>
						<xs:documentation>References a category group, that specifies the possible values for this variable.</xs:documentation>
					</xs:annotation>
				</xs:element>				
				<xs:sequence>
					<xs:element name="ExternalCategoryReference" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>References an external, non DDI category.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="r:StructuredStringType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A description of the use of the external category file.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:element name="Any" type="r:EmptyType">
					<xs:annotation>
						<xs:documentation>Indicates that the variable allows for any text.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="scale" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>Records unit of scale, for example 'x1', 'x1000'.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="decimals" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>Refers to the number of decimal points in the variable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- Should this be a controlled vocabulary? -->
		<xs:attribute name="measurementUnit" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Records the measurement unit, for example 'km', 'miles', etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="aggregationMethod" type="AggregationMethodCodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the type of aggregation method used.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="additivity" type="AdditivityCodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Records type of additivity, such as 'stock', 'flow', 'non-additive'.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- Need full vocab for this. -->
		<xs:attribute name="timeFormat" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>This describes the format of the time values, if the variable represents time.  Examples of the value for this are YYYY-MM-DD, or YYYY, or YYYY-MM.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="DataRangeType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MinimumValue" type="RangeValueType">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaximumValue" type="RangeValueType">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TopCode" type="RangeValueType">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<!-- Should this be a controlled vocabulary? -->
		<xs:attribute name="measurementUnit" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Records the measurement unit, for example 'km', 'miles', etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="CategoryGroupReferenceType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CategoryGroupRef" type="r:ReferenceType">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncludedLevel" type="xs:integer" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncludedCategoryReference" type="IncludedCategoryReferenceType">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataExisitence" type="DataExisitenceType">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VariableConcatenation" type="VariableConcatenationType">
				<xs:annotation>
					<xs:documentation>Describes the concatenation of other variables, based on a category value of this variable,that can be used to identify or locate a specific record of this type.</xs:documentation>
				</xs:annotation>
			</xs:element>			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VariableConcatenationType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VariableReference" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reference to variable in which the concatenated value is stored.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConcatenatedValue" type="ConcatenatedValueType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the category values, and the corresponding concatenation mechanisms for them.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConcatenatedValueType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CategoryReference" type="r:ReferenceType">
				<xs:annotation>
					<xs:documentation>Reference to the category value.</xs:documentation>
				</xs:annotation>
			</xs:element>		
			<xs:element name="VariableReference" type="r:ReferenceType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Identies the variables, which values are concatenated to form the concatenated value. Note that the order of these determines the order concatenation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataExisitenceType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Level" type="xs:integer" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscreteCategory" type="xs:boolean" fixed="true">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="IncludedCategoryReferenceType">
		<xs:complexContent>
			<xs:extension base="r:ReferenceType">
				<xs:attribute name="coordinateValue" type="xs:integer" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DerivationType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ComponentReference" type="r:ReferenceType">
				<xs:annotation>
					<xs:documentation>Reference to variable or category.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="r:StructuredStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Command" type="CommandType" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CommandType">
		<xs:annotation>
			<xs:documentation>A complete structure to describe formal transformation procedures of variables should stay below this element. This could be a XML structure like MathML or a simple string.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="formalLanguage" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Name of used formal language (for example MathML, SPSS).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="VariableGroupType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="r:Identification">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A short description of the variable. The length of this phrase may depend on the statistical analysis system used (e.g., some versions of SAS permit 40-character labels, while some versions of SPSS permit 120 characters), although the DDI itself imposes no restrictions on the number of characters allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Definition" type="r:StructuredStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional textual descriptions of the variable group.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="r:Universe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The group of persons or other elements that are the object of research and to which any analytic results refer. Age, nationality, and residence commonly help to delineate a given universe, but any of a number of factors may be involved, such as sex, race, income, veteran status, criminal convictions, etc. The universe may consist of elements other than persons, such as housing units, court cases, deaths, countries, etc. In general, it should be possible to tell from the description of the universe whether a given individual or element (hypothetical or real) is a member of the population under study. A "level" attribute is included to permit coding of the level to which universe applies, i.e., the study level, the file level (if different from study), the record group, the variable group, the nCube group, the variable, or the nCube level. The "clusion" attribute provides for specification of groups included (I) in or excluded (E) from the universe. If all the variables/nCubes described in the data documentation relate to the same population, e.g., the same set of survey respondents, this element would be unnecessary at data description level. In this case, universe can be fully described at the study level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConceptReference" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>General concept to which this varaible belongs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VariableReference" type="r:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Constituent variable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VariableGroupReference" type="r:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Constituent variable group.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

<!-- nCUBES -->
	<xs:element name="NCubeLogicalProduct" type="NCubeLogicalProductType" substitutionGroup="BaseLogicalProduct"/>
	
	<xs:complexType name="NCubeLogicalProductType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseLogicalProductType">
				<xs:sequence>
					<xs:element name="DimensionVariable" type="VariableType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Attribute" type="AttributeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CoordinateGroup" type="CoordinateGroupType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NCube" type="NCubeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation></xs:documentation>
						</xs:annotation>
					</xs:element>

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AttributeType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="r:Identification"/>
			<xs:element name="VariableReference" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachementLevel" type="AttachmentLevelCodeType">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NCubeType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="r:Identification"/>
			<xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A short description of the variable. The length of this phrase may depend on the statistical analysis system used (e.g., some versions of SAS permit 40-character labels, while some versions of SPSS permit 120 characters), although the DDI itself imposes no restrictions on the number of characters allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Definition" type="r:StructuredStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional textual descriptions of the variable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="r:Universe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The group of persons or other elements that are the object of research and to which any analytic results refer. Age, nationality, and residence commonly help to delineate a given universe, but any of a number of factors may be involved, such as sex, race, income, veteran status, criminal convictions, etc. The universe may consist of elements other than persons, such as housing units, court cases, deaths, countries, etc. In general, it should be possible to tell from the description of the universe whether a given individual or element (hypothetical or real) is a member of the population under study. A "level" attribute is included to permit coding of the level to which universe applies, i.e., the study level, the file level (if different from study), the record group, the variable group, the nCube group, the variable, or the nCube level. The "clusion" attribute provides for specification of groups included (I) in or excluded (E) from the universe. If all the variables/nCubes described in the data documentation relate to the same population, e.g., the same set of survey respondents, this element would be unnecessary at data description level. In this case, universe can be fully described at the study level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Imputation" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>According to the Statistical Terminology glossary maintained by the National Science Foundation, this is "the process by which one estimates missing values for items that a survey respondent failed to provide," and if applicable in this context, it refers to the type of procedure used. When applied to an nCube, imputation takes into consideration all of the dimensions that are part of that nCube.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponseUnit" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information regarding who provided the information contained within the variable/nCube, e.g., respondent, proxy, interviewer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnalysisUnit" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides information regarding whom or what the variable/nCube describes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Purpose" type="r:InternationalStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Purpose for which the cube was created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoordinateGroupReference" type="r:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="Dimension" type="DimensionType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Defines a variable as a dimension of the cube.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measure" type="MeasureType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The measurement features of the cell content (repeatable only for regularly bundled arrays of cell content).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="dimensionCount" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>The number of dimensions found in the nCube.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cellCount" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>The number of cells (measures) found in the nCube.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="CoordinateGroupType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="r:Identification"/>
			<xs:element ref="r:Label" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A short description of the variable. The length of this phrase may depend on the statistical analysis system used (e.g., some versions of SAS permit 40-character labels, while some versions of SPSS permit 120 characters), although the DDI itself imposes no restrictions on the number of characters allowed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="r:Universe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The group of persons or other elements that are the object of research and to which any analytic results refer. Age, nationality, and residence commonly help to delineate a given universe, but any of a number of factors may be involved, such as sex, race, income, veteran status, criminal convictions, etc. The universe may consist of elements other than persons, such as housing units, court cases, deaths, countries, etc. In general, it should be possible to tell from the description of the universe whether a given individual or element (hypothetical or real) is a member of the population under study. A "level" attribute is included to permit coding of the level to which universe applies, i.e., the study level, the file level (if different from study), the record group, the variable group, the nCube group, the variable, or the nCube level. The "clusion" attribute provides for specification of groups included (I) in or excluded (E) from the universe. If all the variables/nCubes described in the data documentation relate to the same population, e.g., the same set of survey respondents, this element would be unnecessary at data description level. In this case, universe can be fully described at the study level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Definition" type="r:StructuredStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoordinateGroupReference" type="r:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dimension" type="DimensionType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Defines a variable as a dimension of the coordinate group.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DimensionType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="r:Identification"/>
			<xs:element name="DimensionVariableReference" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the dimensionVariable describing this dimension.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VariableReference" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the variable describing this dimension -- this is a special case where the catValu provides the field content and the category label provides the label -- there is a physical record for each value of the variable for those values reported (ex. County Business Patterns uses the "variable" Industry Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cohort" type="CohortType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Indicates that the Cube contains only a limited number of categories from the variable.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="rank" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Provides coordinate order (1,2,n).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="CohortType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CategoryReference" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides the specific category of the variable included.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryValue" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The value attached to that category.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Range" type="RangeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Indicates that the Cube contains only a limited number of categories from the variable.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="rank" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Provides coordinate order (1,2,n).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="MeasureType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="r:Identification"/>
			<xs:element name="VariableReference" type="r:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is used in the case where the content of the cell is defined by a variable description, e.g., FLAG where the content is a single character flag and its definition is provided by the category label.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RangeType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RangeUnits" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Units in the range.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinimumValue" type="RangeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Min value in the range.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaximumValue" type="RangeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Max value in the range.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RangeValueType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="included" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
<!-- CODE LISTS -->
	<!-- Incomplete - Need More -->
	<xs:simpleType name="AggregationMethodCodeType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Sum">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Average">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Count">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Mode">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Median">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Maximum">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Minimum">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AdditivityCodeType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Stock">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Flow">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NonAdditive">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CategoryRelationCodeType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Nominal">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Ordinal">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Interval">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="HierarchyCodeType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Regular">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Irregular">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AttachmentLevelCodeType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Cube">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CoordinateGroup">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Dimension">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Measurement">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
