studyunit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

Copyright (c) 2010 DDI Alliance, DDI 3.2 development release, 2010-09-21

This file is part of DDI 3.2 dev XML Schema.

DDI 3.2 dev XML Schema is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by the
Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

DDI 3.2 dev XML Schema is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License
for more details.

You should have received a copy of the GNU Lesser General Public License along
with DDI 3.2 dev XML Schema. If not, see <http://www.gnu.org/licenses/>.

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ddi:studyunit:3_2_dev" xmlns:r="ddi:reusable:3_2_dev" xmlns:a="ddi:archive:3_2_dev" xmlns:c="ddi:conceptualcomponent:3_2_dev" xmlns:d="ddi:datacollection:3_2_dev" xmlns:l="ddi:logicalproduct:3_2_dev" xmlns:p="ddi:physicaldataproduct:3_2_dev" xmlns:pi="ddi:physicalinstance:3_2_dev"  xmlns:pr="ddi:ddiprofile:3_2_dev" targetNamespace="ddi:studyunit:3_2_dev" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import namespace="ddi:reusable:3_2_dev" schemaLocation="reusable.xsd"/>
   <xs:import namespace="ddi:archive:3_2_dev" schemaLocation="archive.xsd"/>
   <xs:import namespace="ddi:conceptualcomponent:3_2_dev" schemaLocation="conceptualcomponent.xsd"/>
   <xs:import namespace="ddi:datacollection:3_2_dev" schemaLocation="datacollection.xsd"/>
   <xs:import namespace="ddi:logicalproduct:3_2_dev" schemaLocation="logicalproduct.xsd"/>
   <xs:import namespace="ddi:physicaldataproduct:3_2_dev" schemaLocation="physicaldataproduct.xsd"/>
   <xs:import namespace="ddi:physicalinstance:3_2_dev" schemaLocation="physicalinstance.xsd"/>
   <xs:import namespace="ddi:ddiprofile:3_2_dev" schemaLocation="ddiprofile.xsd"/>
   <xs:element name="StudyUnit" type="StudyUnitType">
      <xs:annotation>
         <xs:documentation>A primary packaging module within DDI representing the purpose, background, development, data capture, and data products related to a study.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="StudyUnitType">
      <xs:annotation>
         <xs:documentation>A primary packaging module within DDI representing the purpose, background, development, data capture, and data products related to a study. A study unit may have only a single data collection or capture process resulting in one or more data products (i.e., Census). A complex study unit may contain multiple means of data capture that are integrated into one or more data products (i.e., a medical study collecting bio-markers, patient background, health care service information, etc.). A longitudinal study with multiple waves or iterations of data collection is considered to be a group of studies, each wave or iteration captured as a single study unit. As a primary packaging module, the Study Unit contains a full citation, abstract, authorization information, a universe reference, series statement, quality statement, information on post study evaluation, funding information, budget, purpose, coverage, type of analysis units covered, kind of data, other materials, a list of required resource packages, embargoes, All delineation schemes used by the study for response domains or value representations, the conceptual components (universe, concept, data element, geographic structure and locations), data collection, logical products, physical data products, physical instance, archive, and DDI profile. The maintainable elements within a Study Unit may be included in-line or by reference.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:MaintainableType">
            <xs:sequence>
               <xs:element ref="r:Citation" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>The citation for the study. DDI strongly recommends that at minimum a Title be provided.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Abstract" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>An abstract of the study unit describing the nature and scope of the data collection, special characteristics of its content. Note that detailed information on the purpose of the study and structured coverage information are to be entered in Purpose and Coverage. Abstract supports multiple language versions of the same content as well as optional formatting of the content. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:AuthorizationSource" minOccurs="0" maxOccurs="unbounded">
	       	<xs:annotation>
	       		<xs:documentation>Identifies the authorizing agency for the study and allows for the full text of the authorization (law, regulation, or other form of authorization). May be used to list authorizations from oversight committees and other regulatory agencies.</xs:documentation>
	       	</xs:annotation>
		</xs:element>
               <xs:element ref="r:UniverseReference" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>Reference to the universe statement from the universe scheme, describing the group of persons or other elements that are the object of research and to which any analytic results refer. Age, nationality, and residence commonly help to delineate a given universe, but any of a number of factors may be involved, such as sex, race, income, veteran status, criminal convictions, etc. The universe may consist of elements other than persons, such as housing units, court cases, deaths, countries, etc. In general, it should be possible to tell from the description of the universe whether a given individual or element (hypothetical or real) is a member of the population under study. A universe may be described as "inclusive" or "exclusive". This StudyUnit level reference is normally to the top level of the UniverseScheme. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:SeriesStatement" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A study, particularly one in a series, may be the result of two series merging into a single study. The new study belongs to both series. For example, Niger now fields the UNICEF Multiple Indicators Cluster Survey (MICS) and the Demographic and Health Survey as a single merged instrument.</xs:documentation>
                  </xs:annotation>
               </xs:element>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                 <xs:element ref="r:QualityStatementScheme" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                   <xs:documentation>A scheme containing statements of quality related to the quality of the study methodology, metadata, or data of the Study overall. Quality statements may be related to external quality standards.</xs:documentation>
                  </xs:annotation>
                 </xs:element>  
                 <xs:element ref="r:QualityStatementSchemeReference" minOccurs="0" maxOccurs="unbounded">
                   <xs:annotation>
                     <xs:documentation>A reference to a QualityStatementScheme containing statements of quality related to the quality of the study methodology, metadata, or data. Quality statements may be related to external quality standards.</xs:documentation>
                   </xs:annotation>
                 </xs:element>  
	       </xs:choice>
              <xs:element ref="r:ExPostEvaluation" maxOccurs="unbounded">
	           <xs:annotation>
	               <xs:documentation>An evaluation of the study process, often taking place after the completion of the study. These may include issues such as timing of the study, sequencing issues, cost/budget issues, relevance, institutional or legal arrangements etc. of the study. If the study is part of a series or group (i.e., a single wave in a longitudinal study) this may include evaluation of earlier waves which resulted in changes to the current wave.</xs:documentation>
	           </xs:annotation>
               </xs:element>
               <xs:element ref="r:FundingInformation" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Contains details of the study unit's funding, including information about grants, agencies, etc.</xs:documentation>
                  </xs:annotation>
               </xs:element>
		<xs:element ref="StudyBudget" minOccurs="0" maxOccurs="unbounded">
			<xs:annotation>
				<xs:documentation>This describes the overall budget of the study. It can be repeated for distinct budget activities. It contains a structured description and one or more budget documents described by an OtherMaterial type.</xs:documentation>
			</xs:annotation>
		</xs:element>               
               <xs:element ref="r:Purpose" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>The purpose of the study, why the study took place. This should include detailed information on the investigator's primary study questions or hypotheses as well as information on any legal basis for the data collection, such as laws requiring the collection of census data for apportionment purposes. Legal or other authorization should be provided in detail within AuthorizationSource. Purpose supports multiple language versions of the same content as well as optional formatting of the content. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Coverage" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>Describes the coverage of the study unit. Detailed information on Topical, Temporal, and Spatial Coverage is contained here. Note that Coverage at this level should be inclusive all lower level modules or section. Lower level descriptions serve to constrain coverage within the scope described here.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:AnalysisUnit" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Allows the use of a controlled vocabulary to list all of the units of analysis used in the study. Should be repeated to describe multiple units of analysis.</xs:documentation>
                  </xs:annotation>
               </xs:element>
		  <xs:element ref="r:AnalysisUnitsCovered" minOccurs="0">
		      <xs:annotation>
			<xs:documentation>A narrative of the units of analysis in the study unit. Uses an InternationalString to support multiple languages.</xs:documentation>
		      </xs:annotation>
		</xs:element>
                <xs:element ref="r:KindOfData" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Briefly describes the kind of data documented in the logical product(s) of a study unit. Examples include survey data, census/enumeration data, administrative data, measurement data, assessment data, demographic data, voting data, etc. Supports the use of an external controlled vocabulary.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:OtherMaterial" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Contains references to other materials relevant to the study unit, whether in DDI form or external. Links can be made from items in this section to any identifiable element in the instance. Best practice is to include OtherMaterial inside the maintainable containing the objects that are related to the OtherMaterial.</xs:documentation>
                  </xs:annotation>
               </xs:element>
				<xs:element ref="r:RequiredResourcePackages" minOccurs="0">
				   <xs:annotation>
					  <xs:documentation>Specifies by reference the ResourcePackages required to resolve the Study. This list is informational and assists in creating full transmissions of metadata or creating archival packages. Primarily used after the instance is relatively stable and published.</xs:documentation>
				   </xs:annotation>
				</xs:element>
               <xs:element ref="r:Embargo" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Embargo information about the study unit. References to embargo information in this section can be made from individual variables.</xs:documentation>
                  </xs:annotation>
               </xs:element>
			<!-- DelineationSchemes -->

			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:GeographicLocationCodeDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available Geographic Location codes or names available for use as response domains or value representations.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:GeographicLocationCodeDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing GeographicLocationCodeDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:GeographicStructureCodeDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available Geographic Structure codes available for use as response domains or value representations.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:GeographicStructureCodeDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing GeographicStructureCodeDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:TextDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available Text structures available for use as response domains or value representations.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:TextDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing TextDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:DateTimeDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available DateTime structures available for use as response domains or value representations.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:DateTimeDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing DateTimeCodeDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:NumericDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available Numeric structures available for use as response domains or value representations.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:NumericDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing NumericDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:CodeDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available Code structures available for use as response domains or value representations.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:CodeDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing CodeDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:CategoryDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available Category structures available for use as response domains.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:CategoryDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing CategoryDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:GeographicDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available Geographic structures available for use as response domains when capturing geographic positioning (GPS) types of data.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:GeographicDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing GeographicDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:NominalDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available Nominal structures available for use as response domains within QuestionGrids.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:NominalDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing NominalDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:ScaleDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available Scale structures available for use as response domains.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:ScaleDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing ScaleDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:LocationDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available Location structures available for use as response domains where data is captured regarding the placement of a specified mark on an object, image, audio, video, etc.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:LocationDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing LocationDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:RankingDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available Ranking structures available for use as response domains.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:RankingDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing RankingDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:DistributionDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available Distribution structures available for use as response domains.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:DistributionDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing DistributionDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
			<xs:choice minOccurs="0" maxOccurs="unbounded">
			   <xs:element ref="r:MissingValuesDelineationScheme">
			   		<xs:annotation>
						<xs:documentation>A scheme containing delineations describing the available Missing Value structures available for use as response domains or value representations.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			   <xs:element ref="r:MissingValuesDelineationSchemeReference">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing MissingValueDelineationScheme by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
			</xs:choice>   
               <xs:element ref="c:ConceptualComponent" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Documents the content and relational structure of the concepts, universes, data elements, geographic structures and geographic locations used by the study unit. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:ConceptualComponentReference" minOccurs="0" maxOccurs="unbounded">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing Conceptual Component module by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
               <xs:element ref="d:DataCollection" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Documents the content of the Data Collection activities used in this study; development of data collection processes, questions, question flows (control constructs), data collection instrument, instructions, processing events and instructions, methodology, etc.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:DataCollectionReference" minOccurs="0" maxOccurs="unbounded">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing Data Collection module by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
               <xs:element ref="l:BaseLogicalProduct" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Documents the logical (intellectual) content of the data produced by the study unit. Note that l:BaseLogicalProduct is the head of a substitution group and is replaced by the appropriate member of that substitution group.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:LogicalProductReference" minOccurs="0" maxOccurs="unbounded">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing Logical Product module by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
               <xs:element ref="p:PhysicalDataProduct" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Documents the physical structure of the data produced by the study unit.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:PhysicalDataProductReference" minOccurs="0" maxOccurs="unbounded">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing Physical Data Product module by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
               <xs:element ref="pi:PhysicalInstance" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Documents the link to a specific external data file produced by the study unit. May contain summary and category level statistics on the variables contained in the data file. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:PhysicalInstanceReference" minOccurs="0" maxOccurs="unbounded">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing Physical Instance module by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
               <xs:element ref="a:Archive" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Archive serves as a packet containing both persistent and transient information. Describes archive-specific material including item record information as well as lifecycle information. The metadata in the package is divided into elements that are persistent (should remain with the Study Unit through its life-cycle), and transient (pertinent only to the Study Unit as held by that archive).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:ArchiveReference" minOccurs="0" maxOccurs="unbounded">
			   		<xs:annotation>
						<xs:documentation>Inclusion of an existing Archive module by reference.</xs:documentation>
					</xs:annotation>
			   </xs:element>
               <xs:element ref="pr:DDIProfile" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Contains a DDI Profile which is used by the study unit.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:DDIProfileReference" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Inclusion of an existing DDIProfile by reference.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="StudyBudget" type="r:BudgetType">
		<xs:annotation>
			<xs:documentation>A description of the budget that can contain a reference to an external budget document.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>