studyunit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2008 DDI Alliance. DDI 3.0 Candidate Release 3/7/2008. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ddi:studyunit:3_0_CR3" xmlns:r="ddi:reusable:3_0_CR3" xmlns:a="ddi:archive:3_0_CR3" xmlns:c="ddi:conceptualcomponent:3_0_CR3" xmlns:d="ddi:datacollection:3_0_CR3" xmlns:l="ddi:logicalproduct:3_0_CR3" xmlns:p="ddi:physicaldataproduct:3_0_CR3" xmlns:pi="ddi:physicalinstance:3_0_CR3"  xmlns:pr="ddi:profile:3_0_CR3" targetNamespace="ddi:studyunit:3_0_CR3" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import namespace="ddi:reusable:3_0_CR3" schemaLocation="reusable.xsd"/>
   <xs:import namespace="ddi:archive:3_0_CR3" schemaLocation="archive.xsd"/>
   <xs:import namespace="ddi:conceptualcomponent:3_0_CR3" schemaLocation="conceptualcomponent.xsd"/>
   <xs:import namespace="ddi:datacollection:3_0_CR3" schemaLocation="datacollection.xsd"/>
   <xs:import namespace="ddi:logicalproduct:3_0_CR3" schemaLocation="logicalproduct.xsd"/>
   <xs:import namespace="ddi:physicaldataproduct:3_0_CR3" schemaLocation="physicaldataproduct.xsd"/>
   <xs:import namespace="ddi:physicalinstance:3_0_CR3" schemaLocation="physicalinstance.xsd"/>
   <xs:import namespace="ddi:profile:3_0_CR3" schemaLocation="ddiprofile.xsd"/>
   <xs:element name="StudyUnit" type="StudyUnitType"/>
   <xs:complexType name="StudyUnitType">
      <xs:annotation>
         <xs:documentation>Describes the study unit which encompasses specified data collection processes as well as their resultant data products. This includes all of it's associated documentation and metadata. A Study Unit corresponds to the "study" as described in a traditional codebook, although a codebook may relate to only a single data product from the study. Typically, a 2.* or earlier version can have its content marked up in DDI version 3.0 with a single study unit containing the bulk of the documentation and metadata. Multiple data products from the same "study" (typically separate DDI instances in 2.* and earlier) can be combined in a single 3.0 instance. (See "DDI 3.0 Documentation, Part 1: Basic Structures" for more detail regarding the mappings between 2.* and 3.0.)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:MaintainableType">
            <xs:sequence>
               <xs:element ref="r:Citation">
                  <xs:annotation>
                     <xs:documentation>Encodes the bibliographic information describing the original study.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="Abstract" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A human-readable abstract of the study unit describing the nature and scope of the data collection, special characteristics of its content. Note that detailed information on the purpose of the study and structured coverage information are to be entered in Purpose and Coverage.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:UniverseReference" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>The group of persons or other elements that are the object of research and to which any analytic results refer. Age, nationality, and residence commonly help to delineate a given universe, but any of a number of factors may be involved, such as sex, race, income, veteran status, criminal convictions, etc. The universe may consist of elements other than persons, such as housing units, court cases, deaths, countries, etc. In general, it should be possible to tell from the description of the universe whether a given individual or element (hypothetical or real) is a member of the population under study. A universe may be described as "inclusive" or "exclusive". This studyunit level reference is normally to the top level of the UniverseScheme.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:SeriesStatement" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>Information regarding the official series of which a study unit or group of study units is a part. You may point to the URL of a series repository and then use the Name field to indicate the series itself as identified in that repository. Fields also exist for describing the series and providing abbreviations.</xs:documentation>
                  </xs:annotation>
               </xs:element>               
               <xs:element ref="r:FundingInformation" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Contains details of the study unit's funding, including information about grants, agencies, etc.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="Purpose" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>The purpose of the study, in human-readable form. This should include detailed information on the investigator's primary study questions or hypotheses as well as information on any legal basis for the data collection, such as laws requiring the collection of census data for apportionment purposes.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Coverage" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>Describes the coverage of the study unit. Detailed information on Topical, Temporal, and Spatial Coverage is contained here. Note that Coverage at this level should be inclusive all all lower level modules or section. Lower level descriptions serve to constrain coverage within the scope described here.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:AnalysisUnit" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Describes the unit of analysis if shared by all variables contained directly in the study unit, using a term which may be taken from a controlled vocabulary.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="AnalysisUnitsCovered" type="r:InternationalStringType" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>A narrative of the units of analysis in the study unit. May be repeated to provide for multiple-language support.</xs:documentation>
                  </xs:annotation>
               </xs:element>               
		<xs:element ref="KindOfData" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Describes, with a string or a term from a controlled vocabulary, the kind of data. Examples include survey data, census/enumeration data, aggregate data, clinical data, event/transaction data, program source code, machine-readable text, administrative records data, experimental data, psychological test, textual data, coded textual, coded documents, time budget diaries, observation data/ratings, process-produced data, etc.</xs:documentation>
                  </xs:annotation>
               </xs:element>               
               <xs:element ref="r:OtherMaterial" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Contains references to other materials relevent to the study unit, whether in DDI form or external. References can be made from items in this section to any identifiable element in the instance.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Note" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Contains notes pertinent to the study unit and its contents. References can be made from items in this section to any identifiable element in the instance.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="r:Embargo" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Embargo information about the study unit. References to embargo information in this section can be made from individual variables.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="c:ConceptualComponent" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Contains documentation and metadata regarding the concepts and universes used by the study unit. This includes over-rides for documentation and metadata inherited from parent groups, if any.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="d:DataCollection" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Contains documentation and metadata regarding the data collection methods and processes of the study unit. This includes over-rides for documentation and metadata inherited from parent groups, if any.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="l:BaseLogicalProduct" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Contains documentation and metadata regarding the logical data products of the study unit. This includes over-rides for documentation and metadata inherited from parent groups, if any.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="p:PhysicalDataProduct" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Contains documentation and metadata regarding a physical structure of data products of the study unit.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="pi:PhysicalInstance" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Contains documentation and metadata regarding a physical instance of one of the data products of the study unit.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="a:Archive" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>Archive serves as a packet containing both persistant and transcient information. Describes archive-specific material including item record information as well as lifecycle information. The metadata in the package is divided into elements that are persistant (should remain with the Study Unit through its life-cycle), and transcient (pertinent only to the Study Unit as held by that archive).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="pr:DDIProfile" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Contains a DDI Profile which is used by the study unit, and which can be referenced externally.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="DDIProfileReference" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>References a DDI Profile used by the study unit</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KindOfDataType">
         <xs:annotation>
            <xs:documentation>Describes, with a string or a term from a controlled vocabulary, the kind of data. Examples include survey data, census/enumeration data, aggregate data, clinical data, event/transaction data, program source code, machine-readable text, administrative records data, experimental data, psychological test, textual data, coded textual, coded documents, time budget diaries, observation data/ratings, process-produced data, etc.</xs:documentation>
         </xs:annotation>
         <xs:simpleContent>
         	<xs:extension base="r:CodeValueType">
         		<xs:attribute name="type" type="KindOfDataTypeType" use="optional"/>
         	</xs:extension>
         </xs:simpleContent>
   </xs:complexType>
   <xs:element name="Abstract" type="r:IdentifiedStructuredStringType">
      <xs:annotation>
         <xs:documentation>A human-readable abstract of the study unit describing the nature and scope of the data collection, special characteristics of its content. Note that detailed information on the purpose of the study and structured coverage information are to be entered in Purpose and Coverage.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Purpose" type="r:IdentifiedStructuredStringType">
      <xs:annotation>
         <xs:documentation>The purpose of the study, in human-readable form. This should include detailed information on the investigator's primary study questions or hypotheses as well as information on any legal basis for the data collection, such as laws requiring the collection of census data for apportionment purposes.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="DDIProfileReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>References a DDI Profile used by the study unit</xs:documentation>
      </xs:annotation>
   </xs:element>
      <xs:element name="KindOfData" type="KindOfDataType">
         <xs:annotation>
            <xs:documentation>Describes, with a string or a term from a controlled vocabulary, the kind of data. Examples include survey data, census/enumeration data, aggregate data, clinical data, event/transaction data, program source code, machine-readable text, administrative records data, experimental data, psychological test, textual data, coded textual, coded documents, time budget diaries, observation data/ratings, process-produced data, etc.</xs:documentation>
         </xs:annotation>
   </xs:element>
   
   <xs:simpleType name="KindOfDataTypeType">
      <xs:annotation>
         <xs:documentation>Provides a description of the types of data described by the KindOfData element.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
       <xs:enumeration value="Qualitative"/>
       <xs:enumeration value="Quantitative"/>
       <xs:enumeration value="Mixed"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>