tabular_ncube_recordlayout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- DDI 3.0 Candidate Release June 22, 2007 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ddi:physicaldataproduct/ncube/tabular:3_0_CR2" xmlns:r="ddi:reusable:3_0_CR2" xmlns:p="ddi:physicaldataproduct:3_0_CR2" targetNamespace="ddi:physicaldataproduct/ncube/tabular:3_0_CR2" elementFormDefault="qualified">
   <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
   <xs:import namespace="ddi:reusable:3_0_CR2" schemaLocation="reusable.xsd"/>
   <xs:import namespace="ddi:physicaldataproduct:3_0_CR2" schemaLocation="physicaldataproduct.xsd"/>
   <!-- COMMON RECORD LAYOUT - CUBED - MODULE 2 -->
   <xs:element name="RecordLayout" type="RecordLayoutType" substitutionGroup="p:BaseRecordLayout"/>
   <xs:complexType name="RecordLayoutType">
      <xs:annotation>
         <xs:documentation>Describes the layout of an NCube data structure.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="p:BaseRecordLayoutType">
            <xs:sequence>
               <xs:element ref="NCubeInstance">
                  <xs:annotation>
                     <xs:documentation>Container to group data from common NCubes - this allows for NCube level attributes to be defined.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="DataItem">
                  <xs:annotation>
                     <xs:documentation>Identifies a physical storage location for an individual data entry, serving as a link between the physical location and the logical content description of each data item.  Note that only one data item is described here, since the structure describes all data and meta data for the NCube.  That is to day that in this desciption, each row of data in the refernced file corresponds to the same NCube of data.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="NCubeInstanceType">
      <xs:annotation>
         <xs:documentation>Container to group data from common NCubes - this allows for NCube level attributes to be defined.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Identifier" type="r:IdentifiableIDType">
            <xs:unique name="NCubeInstanceTypeID">
               <xs:selector xpath="*"/>
               <xs:field xpath="@type"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="NCubeReference">
            <xs:annotation>
               <xs:documentation>Reference to the logical NCube description.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Attribute" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Component to provide cell level attribute values.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DataItemType">
      <xs:annotation>
         <xs:documentation>Identifies a physical storage location for an individual data entry, serving as a link between the physical location and the logical content description of each data item.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="NCubeInstanceReference">
            <xs:annotation>
               <xs:documentation>References the NCube description in the logical product.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="CoordinateGroup" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Strucutre for identifiying set of common coordinate values in a group.  A group here can then be referenced in a data item to avoid repeating all coordinate values again for the data item. This is useful for attributes that apply to a limited set of cells that are described by a coordinate group in the logical product.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Coordinate" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Specifies this coordinate in the standard matrix descriptive pattern (1,2,3,.n)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Attribute" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Component to provide cell level attribute values.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="MeasureValue" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Value of the measure type</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="decimalSeparator" type="r:OneCharStringType"/>
      <xs:attribute name="groupingSeparator" type="r:OneCharStringType"/>
      <xs:attribute name="type" type="r:DataTypeCodeType"/>
   </xs:complexType>
   <xs:complexType name="CoordinateGroupType">
      <xs:annotation>
         <xs:documentation>Strucutre for identifiying set of common coordinate values in a group.  A group here can then be referenced in a data item to avoid repeating all coordinate values again for the data item.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="CoordinateGroupReference">
            <xs:annotation>
               <xs:documentation>References coordinate group defined in the logical product.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Coordinate" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Specifies this coordinate in the standard matrix descriptive pattern (1,2,3,.n)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Attribute" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Component to provide cell level attribute values.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CoordinateType">
      <xs:annotation>
         <xs:documentation>Coordinate for this particular item, repeated to provide the full matrix of coodinates for the cells within this NCube.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CoordinateNumber" type="xs:integer">
            <xs:annotation>
               <xs:documentation>Specifies this coordinate in the standard matrix descriptive pattern (1,2,3,.n)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="VariableReference" minOccurs="0">
            <xs:annotation>
               <xs:documentation>The variable ID where the coordinate value is found (for files where one of the dimensions of the matrix has a different record for each category and the value of the category is found in a specific variable, e.g., SIC codes in US County Business Patterns).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice>
            <xs:element ref="p:PhysicalLocation">
               <xs:annotation>
                  <xs:documentation>Describes physical characteristics of the data item related to location and its data type/format.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Column" type="xs:string">
               <xs:annotation>
                  <xs:documentation>Identification of a column in spreadsheet that contains the value for the attribute.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MeasureValueType">
      <xs:annotation>
         <xs:documentation>Value of the measure type</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="MeasureReference">
            <xs:annotation>
               <xs:documentation>Reference to measure description.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice>
            <xs:element ref="p:PhysicalLocation">
               <xs:annotation>
                  <xs:documentation>Describes physical characteristics of the data item related to location and its data type/format.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Column" type="xs:string">
               <xs:annotation>
                  <xs:documentation>Identification of a column in spreadsheet that contains the value for the attribute.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttributeType">
      <xs:annotation>
         <xs:documentation>Provides for a choice between an explicit value, or a location in a file where the value can be found.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="AttributeReference">
            <xs:annotation>
               <xs:documentation>Reference to attribute description.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice>
            <xs:element ref="p:PhysicalLocation">
               <xs:annotation>
                  <xs:documentation>Describes physical characteristics of the data item related to location and its data type/format.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Column" type="xs:string">
               <xs:annotation>
                  <xs:documentation>Identification of a column in spreadsheet that contains the value for the attribute.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="NCubeInstance" type="NCubeInstanceType">
      <xs:annotation>
         <xs:documentation>Container to group data from common NCubes - this allows for NCube level attributes to be defined</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="DataItem" type="DataItemType">
      <xs:annotation>
         <xs:documentation>Identifies a physical storage location for an individual data entry, serving as a link between the physical location and the logical content description of each data item.  Note that only one data item is described here, since the structure describes all data and meta data for the NCube.  That is to day that in this desciption, each row of data in the refernced file corresponds to the same NCube of data.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="NCubeReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>Reference to the logical NCube description.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Attribute" type="AttributeType">
      <xs:annotation>
         <xs:documentation>Component to provide cell level attribute values.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="NCubeInstanceReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>References the NCube description in the logical product.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="CoordinateGroup" type="CoordinateGroupType">
      <xs:annotation>
         <xs:documentation>Strucutre for identifiying set of common coordinate values in a group.  A group here can then be referenced in a data item to avoid repeating all coordinate values again for the data item. This is useful for attributes that apply to a limited set of cells that are described by a coordinate group in the logical product.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Coordinate" type="CoordinateType">
      <xs:annotation>
         <xs:documentation>Specifies this coordinate in the standard matrix descriptive pattern (1,2,3,.n)</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="MeasureValue" type="MeasureValueType">
      <xs:annotation>
         <xs:documentation>Value of the measure type</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="CoordinateGroupReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>References coordinate group defined in the logical product.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="VariableReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>The variable ID where the coordinate value is found (for files where one of the dimensions of the matrix has a different record for each category and the value of the category is found in a specific variable, e.g., SIC codes in US County Business Patterns).</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="MeasureReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>Reference to measure description.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="AttributeReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>Reference to attribute description.</xs:documentation>
      </xs:annotation>
   </xs:element>
</xs:schema>