tabular_ncube_recordlayout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2008 DDI Alliance. DDI 3.0 Candidate Release 3/7/2008. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ddi:physicaldataproduct/ncube/tabular:3_0_CR3" xmlns:r="ddi:reusable:3_0_CR3" xmlns:p="ddi:physicaldataproduct:3_0_CR3" targetNamespace="ddi:physicaldataproduct/ncube/tabular:3_0_CR3" elementFormDefault="qualified">
   <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
   <xs:import namespace="ddi:reusable:3_0_CR3" schemaLocation="reusable.xsd"/>
   <xs:import namespace="ddi:physicaldataproduct:3_0_CR3" schemaLocation="physicaldataproduct.xsd"/>
   <!-- COMMON RECORD LAYOUT - CUBED - MODULE 2 -->
   <xs:element name="RecordLayout" type="RecordLayoutType" substitutionGroup="p:BaseRecordLayout"/>
   <xs:complexType name="RecordLayoutType">
      <xs:annotation>
         <xs:documentation>Describes the layout of an NCube data structure.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="p:BaseRecordLayoutType">
            <xs:sequence>
               <xs:element ref="NCubeInstance" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Container to group data from common NCubes - this allows for NCube level attributes to be defined.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="TopLeftTableAnchor">
                  <xs:annotation>
                     <xs:documentation>Notes the column and row position of the the top left corner of the data table in the spreadsheet.</xs:documentation>
                  </xs:annotation>
               </xs:element>               
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="TopLeftTableAnchor" type="TopLeftTableAnchorType"/>
   <xs:complexType name="TopLeftTableAnchorType">
      <xs:annotation>
         <xs:documentation>Notes the column and row position of the the top left corner of the data table in the spreadsheet.</xs:documentation>
      </xs:annotation>
    
         <xs:attribute name="column" type="xs:integer" use="required"/>
         <xs:attribute name="row" type="xs:integer" use="required"/>
      
   </xs:complexType>   
   <xs:complexType name="NCubeInstanceType">
      <xs:annotation>
         <xs:documentation>Container to group data from common NCubes - this allows for NCube level attributes to be defined.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="r:VersionableType">
            <xs:sequence>
               <xs:element ref="NCubeReference">
                  <xs:annotation>
                     <xs:documentation>Reference to the logical NCube description.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="Attribute" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>This is an attribute which is attached either to the NCube as a whole or to a region of the NCube as defined in the logical description. The content of the attribute can be provided as a single value or reference a location in the data store where the attribute value will be found.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element ref="DataItem" maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Identifies a physical storage location for an individual data entry, serving as a link between the physical location and the logical content description of each data item.  Note that only one data item is described here, since the structure describes all data and meta data for the NCube.  That is to day that in this desciption, each row of data in the refernced file corresponds to the same NCube of data.</xs:documentation>
                  </xs:annotation>
               </xs:element>               
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DataItemType">
      <xs:annotation>
         <xs:documentation>Identifies a physical storage location for an individual data entry, serving as a link between the physical location and the logical content description of each data item.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="NCubeInstanceReference">
            <xs:annotation>
               <xs:documentation>References the NCube description in the logical product.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Dimension" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Specifies this coordinate in the standard matrix descriptive pattern (1,2,3,.n)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Attribute" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>This is an attribute which is attached to the specified DataItem. The content of the attribute can be provided as a single value or reference a location in the data store where the attribute value will be found.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="Measure" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Value of the measure type</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute ref="xml:lang" use="optional"/>
      <xs:attribute name="decimalSeparator" type="r:OneCharStringType"/>
      <xs:attribute name="groupingSeparator" type="r:OneCharStringType"/>
      <xs:attribute name="type" type="r:DataTypeCodeType"/>
   </xs:complexType>
<xs:element name="Dimension" type="DimensionType"/>
   <xs:complexType name="DimensionType">
      <xs:annotation>
         <xs:documentation>A dimension which identifies the region of the cube to which te attribute is attached.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="VariableReference" minOccurs="0">
            <xs:annotation>
               <xs:documentation>References the Variable holding the dimension value.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="rank" type="xs:integer" use="required"/>
      <xs:attribute name="value" type="xs:string" use="optional"/>
   </xs:complexType>   
   
   <xs:complexType name="MeasureType">
      <xs:annotation>
         <xs:documentation>Value of the measure type</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="MeasureReference" maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Reference to measure description.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="PhysicalTableLocation">
           <xs:annotation>
        	  <xs:documentation>Describes physical characteristics of the data item related to location and its data type/format.</xs:documentation>
         </xs:annotation>
       </xs:element>         
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MeasureReferenceType">
      <xs:annotation>
         <xs:documentation>Reference to measure description.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
      	<xs:extension base="r:ReferenceType">
      		<xs:attribute name="arrayOrder" type="xs:integer" default="0">
      			<xs:annotation>
      				<xs:documentation>Note that the attribute arrayOrder assumes an array base of 0. The array order assumes that the measures will always be displayed in the same order and that sparse content (a missing value in the array) will be clear from the choice of delimiter for the array. For example 1,1,1 or 1,,1.</xs:documentation>
      			</xs:annotation>
      		</xs:attribute>
      	</xs:extension>
      </xs:complexContent>
   </xs:complexType>   
   <xs:element name="MeasureReference" type="MeasureReferenceType"/>   
   <xs:complexType name="AttributeType">
      <xs:annotation>
         <xs:documentation>Provides for a choice between an explicit value, or a location in a file where the value can be found.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="AttributeReference">
            <xs:annotation>
               <xs:documentation>Reference to attribute description.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice>
            <xs:element ref="PhysicalTableLocation">
               <xs:annotation>
                  <xs:documentation>Describes physical characteristics of the data item related to location and its data type/format.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Value" type="xs:string">
               <xs:annotation>
                  <xs:documentation>Identification of a column in spreadsheet that contains the value for the attribute.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="PhysicalTableLocation" type="PhysicalTableLocationType"/>
   <xs:complexType name="PhysicalTableLocationType">
      <xs:annotation>
         <xs:documentation>A single case may be a single row or series of rows, particularly when multiple measures are used. This designates the row in the case where applicable. Assumption is that there is a single row per case unless otherwise stated.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
      		<xs:extension base="p:PhysicalLocationType">
      		    <xs:sequence>
      			<xs:element name="Column" type="xs:integer"/>
      			<xs:element name="RowSequence" type="xs:integer" minOccurs="0"/>
      		    </xs:sequence>
      		</xs:extension>
      </xs:complexContent>
   </xs:complexType>   
   <xs:element name="NCubeInstance" type="NCubeInstanceType">
      <xs:annotation>
         <xs:documentation>Container to group data from common NCubes - this allows for NCube level attributes to be defined</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="DataItem" type="DataItemType">
      <xs:annotation>
         <xs:documentation>Identifies a physical storage location for an individual data entry, serving as a link between the physical location and the logical content description of each data item.  Note that only one data item is described here, since the structure describes all data and meta data for the NCube.  That is to day that in this desciption, each row of data in the refernced file corresponds to the same NCube of data.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="NCubeReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>Reference to the logical NCube description.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Attribute" type="AttributeType">
      <xs:annotation>
         <xs:documentation>Component to provide cell level attribute values.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="NCubeInstanceReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>References the NCube description in the logical product.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="Measure" type="MeasureType">
      <xs:annotation>
         <xs:documentation>Value of the measure type</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="VariableReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>The variable ID where the coordinate value is found (for files where one of the dimensions of the matrix has a different record for each category and the value of the category is found in a specific variable, e.g., SIC codes in US County Business Patterns).</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="AttributeReference" type="r:ReferenceType">
      <xs:annotation>
         <xs:documentation>Reference to attribute description.</xs:documentation>
      </xs:annotation>
   </xs:element>
</xs:schema>